<mat-toolbar>
  <div class="top-left">
    <img class="top-logo" src="../../../../assets/logo.png" />
    <div class="example-button-row">
      <div class="navigation">
        <div class="nav-container-home">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('')"
            mat-button
            routerLink=""
            >Inicio</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('')"
            mat-button
            routerLink=""
            >Home</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'ex'"
            [class.active]="activeLink('')"
            mat-button
            routerLink=""
            >Inicio</a
          >
          <div class="line" [style.visibility]="activeLink('') ? 'visible' : 'hidden'"></div>
        </div>

        <div class="nav-container">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('/nosotros')"
            mat-button
            routerLink="nosotros"
            >Nosotros</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('/nosotros')"
            mat-button
            routerLink="nosotros"
            >About us</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'xx'"
            [class.active]="activeLink('/nosotros')"
            mat-button
            routerLink="nosotros"
            >Nosotros</a
          >
          <div class="line" [style.visibility]="activeLink('/nosotros') ? 'visible' : 'hidden'"></div>
        </div>

        <div class="nav-container">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('/servicios')"
            mat-button
            routerLink="servicios"
            >Servicios</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('/servicios')"
            mat-button
            routerLink="servicios"
            >Services</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'xx'"
            [class.active]="activeLink('/servicios')"
            mat-button
            routerLink="servicios"
            >Servicios</a
          >
          <div class="line" [style.visibility]="activeLink('/servicios') ? 'visible' : 'hidden'"></div>
        </div>

        <div class="nav-container">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('/documentos')"
            mat-button
            routerLink="documentos"
            >Documentación</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('/documentos')"
            mat-button
            routerLink="documentos"
            >Documentation</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'xx'"
            [class.active]="activeLink('/documentos')"
            mat-button
            routerLink="documentos"
            >Documentación</a
          >
          <div class="line" [style.visibility]="activeLink('/documentos') ? 'visible' : 'hidden'"></div>
        </div>

        <div class="nav-container">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('/contactos')"
            mat-button
            routerLink="contactos"
            >Contáctenos</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('/contactos')"
            mat-button
            routerLink="contactos"
            >Contact us</a
          >

          <a
            class="button-nav"
            *ngIf="lang === 'xx'"
            [class.active]="activeLink('/contactos')"
            mat-button
            routerLink="contactos"
            >Contáctenos</a
          >
          <div class="line" [style.visibility]="activeLink('/documentos') ? 'visible' : 'hidden'"></div>
        </div>
      </div>

      <div class="menu">
        <img src="../../../../assets/img_header.png" class="pres-img" />
        <button
          class="dropdown"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Menu de lenguaje"
        >
          <div class="button-wrapper">
            <div class="img-container">
              <img class="img-element" [src]="getFlags(lang)" />
            </div>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            *ngFor="let idioma of idiomas$ | async"
            (click)="changeLang(idioma.siglas)"
          >
            <div class="button-wrapper-item">
              <div class="img-item-container">
                <img
                  *ngIf="idioma.nombre !== 'Otro'"
                  class="img-element"
                  [src]="getFlags(idioma.siglas)"
                  alt="Imagen idioma"
                />
              </div>
              <span class="menu-span">{{ idioma.nombre }}</span>
            </div>
          </button>
        </mat-menu>
      </div>

      <div class="menu-nav">
        <button mat-icon-button  [matMenuTriggerFor]="menuNav" aria-label="Nav">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menuNav xPosition="before">
          <div mat-menu-item class="nav-container-home">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/contactos')"
              mat-button
              routerLink=""
              >Inicio</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('')"
              mat-button
              routerLink=""
              >Home</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('')"
              mat-button
              routerLink=""
              >Inicio</a
            >
            <div class="line" [style.visibility]="activeLink('') ? 'visible' : 'hidden'"></div>
          </div>

          <div mat-menu-item class="nav-container">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/nosotros')"
              mat-button
              routerLink="nosotros"
              >Nosotros</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('/nosotros')"
              mat-button
              routerLink="nosotros"
              >About us</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('/nosotros')"
              mat-button
              routerLink="nosotros"
              >Nosotros</a
            >
            <div class="line" [style.visibility]="activeLink('/nosotros') ? 'visible' : 'hidden'"></div>
          </div>

          <div mat-menu-item class="nav-container">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/servicios')"
              mat-button
              routerLink="servicios"
              >Servicios</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('/servicios')"
              mat-button
              routerLink="servicios"
              >Services</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('/servicios')"
              mat-button
              routerLink="servicios"
              >Servicios</a
            >
            <div class="line" [style.visibility]="activeLink('/servicios') ? 'visible' : 'hidden'"></div>
          </div>

          <div mat-menu-item class="nav-container">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/documentos')"
              mat-button
              routerLink="documentos"
              >Documentación</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('/documentos')"
              mat-button
              routerLink="documentos"
              >Documentation</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('/documentos')"
              mat-button
              routerLink="documentos"
              >Documentación</a
            >
            <div class="line" [style.visibility]="activeLink('/documentos') ? 'visible' : 'hidden'"></div>
          </div>

          <div mat-menu-item class="nav-container">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/contactos')"
              mat-button
              routerLink="contactos"
              >Contáctenos</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('/contactos')"
              mat-button
              routerLink="contactos"
              >Contact us</a
            >

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('/contactos')"
              mat-button
              routerLink="contactos"
              >Contáctenos</a
            >
            <div class="line" [style.visibility]="activeLink('/contactos') ? 'visible' : 'hidden'"></div>
          </div>
          <mat-divider></mat-divider>
          <button
          mat-menu-item
          *ngFor="let idioma of idiomas$ | async"
          (click)="changeLang(idioma.siglas)"
        >
          <div class="button-wrapper-item">
            <div class="img-item-container">
              <img
                *ngIf="idioma.nombre !== 'Otro'"
                class="img-element"
                [src]="getFlags(idioma.siglas)"
                alt="Imagen idioma"
              />
            </div>
            <span class="menu-span">{{ idioma.nombre }}</span>
          </div>
        </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
