@import "~@fontsource/fredoka-one";
@import "./styles/nav.medium.scss";

.mat-toolbar {
  background-color: white !important;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 !important;
}



.mat-menu-panel.menu-lang {
  background: #ffffff !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25) !important;
  border-radius: 16px !important;

  .mat-menu-content {
  background: #ffffff !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25) !important;
  border-radius: 16px !important;
  padding: 32px 0px !important;
}
}

.top-logo {
  height: 56px;
  width: 244px;
  background-repeat: no-repeat !important;
}

.top-left {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.top-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navigation {
  display: flex;
}

.line {
  width: 100%;
  height: 6px;
  background: #353535;
  border-radius: 25px;
  &:hover {
    visibility: visible !important;
  }
}

.menu-span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #000000;
}

.nav-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  &:hover {
    .line {
      visibility: visible !important;
    }
  }
}

.nav-container-home {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.button-nav {
  width: 100%;

  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ae0000;

  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;

  margin: 8px 8px 8px 3px;

  /* Inside auto layout */
  &:hover {
    background: white !important;
    color: black !important;
  }
  flex: none;
  order: 0;
  flex-grow: 0;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.pres-img {
  width: 2rem;
  height: 2rem;
  max-width: 21px;
  max-height: 29px;
  margin-right: 0.6rem;
}

.example-button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 6rem;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 3px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.img-container {
  overflow: hidden;
  height: 26px;
  width: 26px;
  display: flex;
  border-radius: 50%;
}

.img-item-container {
  overflow: hidden;
  height: 26px;
  width: 26px;
  margin-right: 8px;
  display: flex;
  border-radius: 50%;
}

.ing-fix {
  justify-content: center;
}

.button-wrapper {
  display: flex !important;
  width: 48px;
  flex-direction: row !important;
}

.button-wrapper-item {
  display: flex !important;
  width: 91px;
  align-items: center;
  flex-direction: row !important;
}

.img-element {
  height: 27px;
  width: 63px;
}

.dropdown {
  margin-right: 24px !important;
  margin-left: 20px !important;
}

.menu-nav {
  display: none;
}

.active {
  color: #353535;
}


@media only screen and (min-width: 1440px) {
  .mat-toolbar {
    margin-bottom: 2% !important;
  }
}
