<mat-toolbar>
  <div class="top-left">
    <img class="top-logo" src="../../../../assets/logo.png" />
    <div class="example-button-row">
      <div class="navigation">
        <div class="nav-container-home">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('')"           
            routerLink=""
            >Inicio
            <div
              class="line"
              [style.visibility]="activeLink('') ? 'visible' : 'hidden'"
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('')"
            routerLink=""
            >Home
            <div
              class="line"
              [style.visibility]="activeLink('') ? 'visible' : 'hidden'"
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'ex'"
            [class.active]="activeLink('')"
            routerLink=""
            >Inicio
            <div
              class="line"
              [style.visibility]="activeLink('') ? 'visible' : 'hidden'"
            ></div>
          </a>
        </div>

        <div class="nav-container">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('/nosotros')"
            routerLink="nosotros"
            >Nosotros
            <div
              class="line"
              [style.visibility]="
                activeLink('/nosotros') ? 'visible' : 'hidden'
              "
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('/nosotros')"
            routerLink="nosotros"
            >About us
            <div
              class="line"
              [style.visibility]="
                activeLink('/nosotros') ? 'visible' : 'hidden'
              "
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'xx'"
            [class.active]="activeLink('/nosotros')"
            routerLink="nosotros"
            >Nosotros
            <div
              class="line"
              [style.visibility]="
                activeLink('/nosotros') ? 'visible' : 'hidden'
              "
            ></div>
          </a>
        </div>

        <div class="nav-container">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('/servicios')"
            routerLink="servicios"
            >Servicios
            <div
              class="line"
              [style.visibility]="
                activeLink('/servicios') ? 'visible' : 'hidden'
              "
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('/servicios')"
            routerLink="servicios"
            >Services
            <div
              class="line"
              [style.visibility]="
                activeLink('/servicios') ? 'visible' : 'hidden'
              "
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'xx'"
            [class.active]="activeLink('/servicios')"
            routerLink="servicios"
            >Servicios
            <div
              class="line"
              [style.visibility]="
                activeLink('/servicios') ? 'visible' : 'hidden'
              "
            ></div>
          </a>
        </div>

        <div class="nav-container">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('/documentos')"
            routerLink="documentos"
            >Documentación
            <div
              class="line"
              [style.visibility]="
                activeLink('/documentos') ? 'visible' : 'hidden'
              "
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('/documentos')"
            routerLink="documentos"
            >Documentation
            <div
              class="line"
              [style.visibility]="
                activeLink('/documentos') ? 'visible' : 'hidden'
              "
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'xx'"
            [class.active]="activeLink('/documentos')"
            routerLink="documentos"
            >Documentación
            <div
              class="line"
              [style.visibility]="
                activeLink('/documentos') ? 'visible' : 'hidden'
              "
            ></div>
          </a>
        </div>

        <div class="nav-container">
          <a
            class="button-nav"
            *ngIf="lang === 'es'"
            [class.active]="activeLink('/contactos')"
            routerLink="contactos"
            >Contáctenos
            <div
              class="line"
              [style.visibility]="
                activeLink('/contactos') ? 'visible' : 'hidden'
              "
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'en'"
            [class.active]="activeLink('/contactos')"
            routerLink="contactos"
            >Contact us
            <div
              class="line"
              [style.visibility]="
                activeLink('/contactos') ? 'visible' : 'hidden'
              "
            ></div>
          </a>

          <a
            class="button-nav"
            *ngIf="lang === 'xx'"
            [class.active]="activeLink('/contactos')"
            routerLink="contactos"
            >Contáctenos
            <div
              class="line"
              [style.visibility]="
                activeLink('/contactos') ? 'visible' : 'hidden'
              "
            ></div>
          </a>
        </div>
      </div>

      <div class="menu">
        <img src="../../../../assets/img_header.png" class="pres-img" />
        <button
          class="dropdown"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Menu de lenguaje"
        >
          <div class="button-wrapper">
            <div class="img-container">
              <img class="img-element" [src]="getFlags(lang)" />
            </div>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            *ngFor="let idioma of idiomas$ | async"
            (click)="changeLang(idioma.siglas)"
          >
            <div class="button-wrapper-item">
              <div class="img-item-container">
                <img
                  *ngIf="idioma.nombre !== 'Otro'"
                  class="img-element"
                  [src]="getFlags(idioma.siglas)"
                  alt="Imagen idioma"
                />
              </div>
              <span class="menu-span">{{ idioma.nombre }}</span>
            </div>
          </button>
        </mat-menu>
      </div>

      <div class="menu-nav">
        <button mat-icon-button [matMenuTriggerFor]="menuNav" aria-label="Nav">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menuNav xPosition="before">
          <div mat-menu-item class="nav-container-home">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/contactos')"
              routerLink=""
              >Inicio
              <div
                class="line"
                [style.visibility]="activeLink('') ? 'visible' : 'hidden'"
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('')"
              routerLink=""
              >Home
              <div
                class="line"
                [style.visibility]="activeLink('') ? 'visible' : 'hidden'"
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('')"
              routerLink=""
              >Inicio
              <div
                class="line"
                [style.visibility]="activeLink('') ? 'visible' : 'hidden'"
              ></div>
            </a>
          </div>

          <div mat-menu-item class="nav-container">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/nosotros')"
              routerLink="nosotros"
              >Nosotros
              <div
                class="line"
                [style.visibility]="
                  activeLink('/nosotros') ? 'visible' : 'hidden'
                "
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('/nosotros')"
              routerLink="nosotros"
              >About us
              <div
                class="line"
                [style.visibility]="
                  activeLink('/nosotros') ? 'visible' : 'hidden'
                "
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('/nosotros')"
              routerLink="nosotros"
              >Nosotros
              <div
                class="line"
                [style.visibility]="
                  activeLink('/nosotros') ? 'visible' : 'hidden'
                "
              ></div>
            </a>
          </div>

          <div mat-menu-item class="nav-container">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/servicios')"
              routerLink="servicios"
              >Servicios
              <div
                class="line"
                [style.visibility]="
                  activeLink('/servicios') ? 'visible' : 'hidden'
                "
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('/servicios')"
              routerLink="servicios"
              >Services
              <div
                class="line"
                [style.visibility]="
                  activeLink('/servicios') ? 'visible' : 'hidden'
                "
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('/servicios')"
              routerLink="servicios"
              >Servicios
              <div
                class="line"
                [style.visibility]="
                  activeLink('/servicios') ? 'visible' : 'hidden'
                "
              ></div>
            </a>
          </div>

          <div mat-menu-item class="nav-container">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/documentos')"
              routerLink="documentos"
              >Documentación
              <div
                class="line"
                [style.visibility]="
                  activeLink('/documentos') ? 'visible' : 'hidden'
                "
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('/documentos')"
              routerLink="documentos"
              >Documentation
              <div
                class="line"
                [style.visibility]="
                  activeLink('/documentos') ? 'visible' : 'hidden'
                "
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('/documentos')"
              routerLink="documentos"
              >Documentación
              <div
                class="line"
                [style.visibility]="
                  activeLink('/documentos') ? 'visible' : 'hidden'
                "
              ></div>
            </a>
          </div>

          <div mat-menu-item class="nav-container">
            <a
              class="button-menu"
              *ngIf="lang === 'es'"
              [class.active]="activeLink('/contactos')"
              routerLink="contactos"
              >Contáctenos
              <div
                class="line"
                [style.visibility]="
                  activeLink('/contactos') ? 'visible' : 'hidden'
                "
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'en'"
              [class.active]="activeLink('/contactos')"
              routerLink="contactos"
              >Contact us
              <div
                class="line"
                [style.visibility]="
                  activeLink('/contactos') ? 'visible' : 'hidden'
                "
              ></div>
            </a>

            <a
              class="button-menu"
              *ngIf="lang === 'xx'"
              [class.active]="activeLink('/contactos')"
              routerLink="contactos"
              >Contáctenos
              <div
                class="line"
                [style.visibility]="
                  activeLink('/contactos') ? 'visible' : 'hidden'
                "
              ></div>
            </a>
          </div>
          <mat-divider></mat-divider>
          <div class="lang-container">
            <ng-container *ngFor="let idioma of idiomas$ | async">
              <button class="lang-button" mat-button
                (click)="changeLang(idioma.siglas)"
                [style.background]="lang == idioma.siglas ? '#f5f5f5' : 'none' "
              >
                <div class="button-wrapper-item">
                  <div class="img-item-container">
                    <img
                      *ngIf="idioma.nombre !== 'Otro'"
                      class="img-element"
                      [src]="getFlags(idioma.siglas)"
                      alt="Imagen idioma"
                    />
                  </div>
                  <span class="menu-span">{{ idioma.nombre }}</span>
                </div>
              </button>
            </ng-container>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
