@media only screen and (min-width: 300px) and (max-width: 1080px) {
  .banner {
    height: auto !important;

    .banner-up-container {
      max-height: 100vh !important;
      height: 100vh !important;

      .banner-up {
        display: flex;
        flex-direction: column;
        width: 100%;

        .banner-pres {
          width: 100% !important;
          justify-content: center !important;

          .banner-press-left {
            display: flex;
            width: 85% !important;
            min-width: 54%;
            margin-top: 5%;
          }
        }

        .banner-up-img {
          width: 100% !important;
          img {
            width: 100%;
          }
        }
      }
    }

    .banner-down-container {
      height: 26vh !important;

      .banner-down {
        .banner-izq {
          width: 60% !important;
          margin-top: 0 !important;
        }

        .banner-rect {
          width: 75% !important;
        }

        .banner-der {
          width: 63% !important;
          height: 34% !important;
          margin-right: -104px;
          align-self: center;
        }
      }
    }
  }

  .banner-button-1,
  .banner-button-2 {
    width: auto !important;
  }
}
