@media only screen and (min-width: 300px) and (max-width: 1365px) {
  .banner {
    height: auto !important;
  }
  .banner-up {
    display: flex;
    flex-direction: column;
    width: 100%;

    .banner-pres {
      width: 100% !important;
      justify-content: center !important;

      .banner-press-left {
        display: flex;
        width: 85% !important;
        min-width: 54%;
        margin-top: 5%;
      }

      // .pres-img {
      //   height: 2rem;
      //   margin-right: 0.6rem;
      //   }

      // .banner-pres-group {
      //   display: flex;
      //   flex-direction: column;

      //   .banner-pres-title {
      //     font-family: "Fredoka One";
      //     font-style: normal;
      //     font-weight: 400;
      //     font-size: 2.5rem;
      //     line-height: 2.5rem;
      //     margin-top: -0.3rem;
      //     color: #353535;
      //   }

      //   .banner-pres-p {
      //     p {
      //       font-family: "Roboto";
      //       font-style: normal;
      //       font-weight: 400;
      //       font-size: 12px;
      //       line-height: 24px;
      //       color: #727272;
      //     }
      //   }

      //   .banner-pres-rect {
      //     background: #f4a800;
      //     border-radius: 25px;
      //     width: 50%;
      //     margin-bottom: 5%;
      //     height: 12px;
      //   }

      // .banner-pres-buttons {
      //   display: flex;
      //   align-items: flex-start;
      //   gap: 1rem;

      //   .banner-button-1 {
      //     width: 33%;
      //     display: flex;
      //     flex-direction: row;
      //     justify-content: center;
      //     align-items: flex-start;
      //     padding: 4% 20%;
      //     font-family: "Fredoka One";
      //     font-style: normal;
      //     font-weight: 400;
      //     font-size: 20px;
      //     line-height: 24px;
      //     text-align: center;
      //     color: #5d0303;
      //     background: #f6d895;
      //     border-radius: 50px;
      //   }

      //   .banner-button-2 {
      //     width: 30%;
      //     display: flex;
      //     flex-direction: row;
      //     justify-content: center;
      //     align-items: flex-start;
      //     padding: 4% 20%;
      //     font-family: "Fredoka One";
      //     font-style: normal;
      //     font-weight: 400;
      //     font-size: 20px;
      //     line-height: 24px;
      //     text-align: center;

      //     color: #5d0303;

      //     background: #feb5b5;
      //     border-radius: 50px;
      //   }
      // }
      // }
    }

    .banner-up-img {
      width: 100% !important;
      img {
        width: 100%;
      }
    }
  }

  .banner-down-container {
    height: 26vh !important;

    .banner-down {
      .banner-izq {
        width: 60% !important;
        margin-top: 0 !important;
      }

      .banner-rect {
        width: 75% !important;
      }

      .banner-der {
        // position: absolute;
        // width: 340px;
        // height: 83px;
        // left: 258px;
        // top: 1073px;
        // background: url("../../../../../assets/grafica_der1.png");        
        width: 63% !important;
        height: 34% !important;
        margin-right: -104px;
        align-self: center;
        // width: 46% !important;
        // height: 46% !important;
        // align-self: center;
      }
    }
  }
}
