<div style="width: 100%" class="container">
  <div class="contenido">
    <div class="centro">
      <div class="left-side">
        <div class="left-img"></div>
        <div class="img-chip-izq"></div>
        <div class="img-chip-pink"></div>
      </div>
      <div class="middle-side">
        <div class="contact-head2">
          <div class="center-content2">
            <img class="chip-img" src="../../../../assets/img_header.png" />
            <h1 *ngIf="lang === 'es'" class="contact-tittle">
                  Nosotros
            </h1>
<!--             <ng-container *ngFor="let seccion of secciones$ | async">
              <ng-container *ngIf="seccion.id == 13">
                <h1 *ngIf="lang === 'es'" class="contact-tittle">
                  {{ seccion.tituloEs }}
                </h1>
                <h1 *ngIf="lang === 'en'" class="contact-tittle">
                  {{ seccion.tituloEn }}
                </h1>
                <h1 *ngIf="lang === 'xx'" class="contact-tittle">
                  {{ seccion.tituloOtro }}
                </h1>
              </ng-container>
            </ng-container> -->
          </div>
        </div>
        <div class="nos-movil">
          <div class="left-img-movil"></div>
          <img class="rigth-img2-movil" src="../../../../assets/grafica_der1.png" />
        </div>
        <div class="we-text-no2">
          <div class="we-text-container-con">
            <ng-container *ngFor="let seccion of secciones$ | async">
              <ng-container *ngIf="seccion.id == 13">
                <div
                  class="nos-container"
                  *ngIf="lang === 'es'"
                  [innerHTML]="seccion.contenidoEs"
                ></div>
                <div
                  class="nos-container"
                  *ngIf="lang === 'en'"
                  [innerHTML]="seccion.contenidoEs"
                ></div>
                <div
                  class="nos-container"
                  *ngIf="lang === 'xx'"
                  [innerHTML]="seccion.contenidoOtro"
                ></div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="right-side">
        <img class="rigth-img2" src="../../../../assets/grafica_der1.png" />
        <div class="img-chip-der"></div>
        <div class="img-chip-menor"></div>
      </div>
    </div>
  </div>

  <div class="fondo"></div>
</div>
