.home {
  display: none;
  height: 100vh;
  width: 100vw;


  .home-left {
    display: flex;
    width: 50%;
    flex-direction: column;

    .home-pres {
      display: flex;
      align-self: flex-end;
      width: 54%;
      margin-top: 5%;
      margin-bottom: 20vh;

      .pres-img {
        width: 2rem;
        height: 2rem;
        max-width: 20px;
        max-height: 20px;
        margin-right: 0.6rem;
      }

      .home-pres-group {
        display: flex;
        flex-direction: column;

        .home-pres-title {
          font-family: "Fredoka One";
          font-style: normal;
          font-weight: 400;
          font-size: 3rem;
          line-height: 3rem;

          color: #353535;
        }

        .home-pres-p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #727272;
        }
        .home-pres-rect {
          background: #f4a800;
          border-radius: 25px;
          width: 50%;
          margin-bottom: 5%;
          height: 12px;
        }

        .home-pres-buttons {
          display: flex;
          align-items: flex-start;
          gap: 1rem;

          .home-button-1 {
            width: 33%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: 4% 20%;
            font-family: "Fredoka One";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #5d0303;
            background: #f6d895;
            border-radius: 50px;
          }

          .home-button-2 {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: 4% 20%;
            font-family: "Fredoka One";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;

            color: #5d0303;

            background: #feb5b5;
            border-radius: 50px;
          }
        }
      }
    }

    .home-izq {
      width: 10%;
      align-self: flex-start;
      margin-bottom: 1rem;
    }

    .home-rect {
      width: 100%;
      height: 3rem;
      background: linear-gradient(
        90deg,
        #faa6a7 0%,
        #b5e7ff 67.02%,
        #ffdf95 98.96%
      );
      border-radius: 0px 50px 50px 0px;
    }
  }

  .home-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;

    .home-banner {
      width: 100%;
    }

    .home-der {
      width: 25%;
    }
  }
}

.show {
  display: flex;
}
