.banner {
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;


  .banner-up-container {
    display: flex;
    width: 100%;
    height: 70%;
    max-height: 70%;


    .banner-up {
      display: none;
      width: 100%;

      .banner-pres {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        // margin-bottom: 20vh;

        .banner-press-left {
          display: flex;
          width: 60%;
          min-width: 54%;
          margin-top: 5%;
        }

      .pres-img {
        height: 2rem;
        margin-right: 0.6rem;
        }

        .banner-pres-group {
          display: flex;
          flex-direction: column;

          .banner-pres-title {
            font-family: "Fredoka One";
            font-style: normal;
            font-weight: 400;
            font-size: 2.5rem;
            line-height: 2.5rem;
            color: #353535;
          }

          .banner-pres-p {
            p {
              font-family: "Roboto";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 24px;
              color: #727272;
            }
          }

          .banner-pres-rect {
            background: #f4a800;
            border-radius: 25px;
            width: 50%;
            margin-bottom: 5%;
            height: 12px;
          }

          .banner-pres-buttons {
            display: flex;
            align-items: flex-start;
            gap: 1rem;

            .banner-button-1 {
              width: 33%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: flex-start;
              padding: 4% 20%;
              font-family: "Fredoka One";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 24px;
              text-align: center;
              color: #5d0303;
              background: #f6d895;
              border-radius: 50px;
            }

            .banner-button-2 {
              width: 30%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: flex-start;
              padding: 4% 20%;
              font-family: "Fredoka One";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 24px;
              text-align: center;

              color: #5d0303;

              background: #feb5b5;
              border-radius: 50px;
            }
          }
        }
      }

      .banner-up-img {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }

  }

  .banner-down-container {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-between;

    .banner-down {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .banner-down-left {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      .banner-der {
        width: 15%;
        height: 25%;
      }

      .banner-izq {
        width: 10%;
        margin-top: -3.2rem;
        margin-bottom: 1rem;
      }

      .banner-rect {
        width: 100%;
        height: 3rem;
        background: linear-gradient(
          90deg,
          #faa6a7 0%,
          #b5e7ff 67.02%,
          #ffdf95 98.96%
        );
        border-radius: 0px 50px 50px 0px;
      }
    }

  }
}

.show {
  display: flex !important;
}
