<div class="servicios-container">
  <div class="left">
    <div class="servicios-rect"></div>
    <img class="service-graphic" src="../../../../assets/grafica_izq.png" />
  </div>

  <div class="center">
    <div class="servicios-servicios">
      <ng-container *ngFor="let seccion of secciones$ | async">
        <ng-container *ngIf="seccion.id == 14">
          <div class="header-title">
            <img class="docs-header" src="../../../../assets/img_header.png" />

            <p *ngIf="lang === 'es'">
              {{ seccion.tituloEs }}
            </p>
            <p *ngIf="lang === 'en'">
              {{ seccion.tituloEn }}
            </p>
            <p *ngIf="lang === 'xx'">
              {{ seccion.tituloOtro }}
            </p>
          </div>
          <div
            *ngIf="lang === 'es'"
            [innerHtml]="seccion.contenidoEs"
            class="header-text"
          ></div>

          <div
            *ngIf="lang === 'en'"
            [innerHtml]="seccion.contenidoEn"
            class="header-text"
          ></div>

          <div
            *ngIf="lang === 'xx'"
            [innerHtml]="seccion.contenidoOtro"
            class="header-text"
          ></div>
        </ng-container>
      </ng-container>
    </div>

    <div ngClass="center-movil">
      <div class="terminos-rect"></div>
      <div class="center-movil-right">
        <img
          class="center-movil-right-img"
          src="../../../../assets/grafica_der1.png"
        />
      </div>
    </div>

    <mat-accordion>
      <ng-container *ngFor="let servicio of servicios$ | async">
        <div class="card-docs">
          <img class="docs-header-1" src="../../../../assets/img_header.png" />
          <div *ngIf="lang === 'es'" class="servicio-img">
            <img src="{{ servicio.imagenEs }}" />
          </div>

          <div *ngIf="lang === 'en'" class="servicio-img">
            <img src="{{ servicio.imagenEs }}" />
          </div>

          <div *ngIf="lang === 'xx'" class="servicio-img">
            <img src="{{ servicio.imagenOtro }}" />
          </div>

          <div class="content-center">
            <p class="title" *ngIf="lang === 'es'">{{ servicio.tituloEs }}</p>
            <p class="title" *ngIf="lang === 'en'">{{ servicio.tituloEn }}</p>
            <p class="title" *ngIf="lang === 'xx'">{{ servicio.tituloOtro }}</p>

            <ng-container *ngIf="lang === 'es'">
              <div
                class="content-text"
                [innerHtml]="servicio.contenidoEs"
                [@animationShowHide]="sid === servicio.id ? 'open' : 'close'"
              ></div>
            </ng-container>

            <ng-container *ngIf="lang === 'en'">
              <div
                class="content-text"
                [innerHtml]="servicio.contenidoEn"
                [@animationShowHide]="sid === servicio.id ? 'open' : 'close'"
              ></div>
            </ng-container>

            <ng-container *ngIf="lang === 'xx'">
              <div
                class="content-text"
                [innerHtml]="servicio.contenidoOtro"
                [@animationShowHide]="sid === servicio.id ? 'open' : 'close'"
              ></div>
            </ng-container>

            <button
              style="display: flex; align-self: self-end; justify-content: center"
              mat-icon-button
              (click)="hideAndShow(servicio.id)"
            >
              <img
                src="../../../../assets/Vector2.svg"
                [@animationRotate]="sid === servicio.id ? 'open' : 'close'"
              />
            </button>
          </div>
        </div>
      </ng-container>
    </mat-accordion>
  </div>

  <div class="right">
    <img class="right-img" src="../../../../assets/grafica_der1.png" />
  </div>
</div>
