@import "./styles/servicios.medium.scss";
@import "./styles/servicios.large.scss";

.servicios-container {
  display: flex;
  width: 100%;

  .left {
    width: 20%;
    margin-top: 30vh;
    margin-left: 0;

    .servicios-rect {
      width: 48%;
      height: 64px;
      left: 0px;
      top: 401px;

      background: linear-gradient(
        90deg,
        #faa6a7 0%,
        #b5e7ff 67.02%,
        #ffdf95 98.96%
      );
      border-radius: 0px 50px 50px 0px;
    }

    .left-img {
      width: 60px;
    }
  }

  .center {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;

    .servicios-servicios {
      display: flex;
      align-items: flex-start;
      padding: 10px;
      gap: 1rem;
      width: 85%;
      margin-bottom: 2vh;
      margin-top: 0.5rem;

      .docs-header {
        width: 1rem;
      }

      .header-title {
        display: flex;
        gap: 1rem;

        p {
          font-family: "Fredoka One";
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          display: flex;
          align-items: center;
          color: #353535;
          margin-bottom: 0;
        }
      }

       .header-text {
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          color: #727272;
          line-height: 1.5rem;
        }
      }
    }
  }

  .right {
    width: 20%;

    .right-img {
      position: absolute;
      width: 15%;
      right: 0;
      margin-top: 16vh;
    }
  }
}

.card-docs {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 32px;
  margin-bottom: 20px;

  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(217, 208, 184, 0.5);
  border-radius: 24px;

  .docs-header-1 {
    height: 3.5vh;
  }
  .docs-img {
    width: 8rem;
    margin-top: 1rem;
  }

  .servicio-img {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 16vw;
    margin-top: 3.5vh;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  .content-center {
    display: flex;
    flex-direction: column;
    margin-top: 3.5vh;

    .title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      color: #eda301;
    }
  }
}

.card-docs:last-child {
  margin-bottom: 20vh !important;
}

.card-docs:first-child {
  margin-top: 10px;
}

.mat-expansion-indicator::after {
  margin-bottom: -5rem;
}

.mat-expansion-panel-header {
  height: 111px;
}

.content-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #3f3726;
  padding-right: 2rem;
}

.center-movil {
  display: none;
}
