<div class="servicios-container">
  <div class="left">
    <div class="servicios-rect"></div>
    <img class="left-img" src="../../../../assets/grafica_izq.png" />
  </div>

  <div class="center">
    <div class="servicios-servicios">
      <img class="docs-header" src="../../../../assets/img_header.png" />
      <ng-container *ngFor="let seccion of Secciones">
        <ng-container *ngIf="seccion.id == 14">
          <p *ngIf="lang === 'es'" class="header-title">
            {{ seccion.tituloEs }}
          </p>
          <p *ngIf="lang === 'en'" class="header-title">
            {{ seccion.tituloEn }}
          </p>
          <p *ngIf="lang === 'xx'" class="header-title">
            {{ seccion.tituloOtro }}
          </p>
        </ng-container>
      </ng-container>
    </div>
    <mat-accordion>
      <ng-container *ngFor="let servicio of Servicios">
        <div class="card-docs">
          <img class="docs-header-1" src="../../../../assets/img_header.png" />
          <img class="docs-img" src="../../../../assets/img_pagoonline.png" />
          <div class="content-center">
            <p class="title" *ngIf="lang === 'es'">{{ servicio.tituloEs }}</p>
            <p class="title" *ngIf="lang === 'en'">{{ servicio.tituloEn }}</p>
            <p class="title" *ngIf="lang === 'xx'">{{ servicio.tituloOtro }}</p>

            <p class="content-text" *ngIf="lang === 'es'">
              {{
                isHide
                  ? cleanText(servicio.contenidoEs).substr(0, 300) + "..."
                  : cleanText(servicio.contenidoEs)
              }}
            </p>

            <p class="content-text" *ngIf="lang === 'en'">
              {{
                isHide
                  ? cleanText(servicio.contenidoEn).substr(0, 300) + "..."
                  : cleanText(servicio.contenidoEn)
              }}
            </p>

            <p class="content-text" *ngIf="lang === 'xx'">
              {{
                hideElement(servicio.id)
                  ? cleanText(servicio.contenidoOtro).substr(0, 300) + "..."
                  : cleanText(servicio.contenidoOtro)
              }}
            </p>
            <button
              style="display: flex; width: 1rem; align-self: self-end"
              mat-flat-button
              (click)="hideAndShow(servicio.id)"
            >
              <mat-icon>{{ isHide ? "expand_more" : "expand_less" }}</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </mat-accordion>
    <div class="right">
      <img class="right-img" src="../../../../assets/grafica_der1.png" />
    </div>
  </div>
</div>
