<div class="servicios-container">
  <div class="left">
    <div class="servicios-rect"></div>
    <img class="service-graphic" src="../../../../assets/grafica_izq.png" />
  </div>

  <div class="center">
    <div class="servicios-servicios">
      <img class="docs-header" src="../../../../assets/img_header.png" />
      <ng-container *ngFor="let seccion of secciones$ | async">
        <ng-container *ngIf="seccion.id == 14">
          <!-- Suponiendo que el titulo de la pagina venga en diferente idiomas
          este es el codigo   -->

          <!-- <p *ngIf="lang === 'es'" class="header-title">
            {{ seccion.tituloEs }}
          </p>
          <p *ngIf="lang === 'en'" class="header-title">
            {{ seccion.tituloEn }}
          </p>
          <p *ngIf="lang === 'xx'" class="header-title">
            {{ seccion.tituloOtro }}
          </p> -->

          <p class="header-title">
            {{ seccion.nombre }}
          </p>
        </ng-container>
      </ng-container>
    </div>
    <mat-accordion>
      <ng-container *ngFor="let servicio of servicios$ | async">
        <div class="card-docs">
          <img class="docs-header-1" src="../../../../assets/img_header.png" />
          <img
            class="docs-img"
            *ngIf="lang === 'es'"
            src="{{ servicio.imagenEs }}"
          />
          <img
            class="docs-img"
            *ngIf="lang === 'en'"
            src="{{ servicio.imagenEn }}"
          />
          <img
            class="docs-img"
            *ngIf="lang === 'xx'"
            src="{{ servicio.imagenOtro }}"
          />
          <div class="content-center">
            <p class="title" *ngIf="lang === 'es'">{{ servicio.tituloEs }}</p>
            <p class="title" *ngIf="lang === 'en'">{{ servicio.tituloEn }}</p>
            <p class="title" *ngIf="lang === 'xx'">{{ servicio.tituloOtro }}</p>

            <ng-container *ngIf="lang === 'es'">
              <ng-container *ngIf="sid === servicio.id">
                <div
                  class="content-text"
                  [innerHtml]="servicio.contenidoEs"
                ></div>
              </ng-container>
              <ng-container *ngIf="sid !== servicio.id">
                <div
                  class="content-text"
                  [innerHtml]="servicio.contenidoEs.substr(0, 300) + '...'"
                ></div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="lang === 'en'">
              <ng-container *ngIf="sid === servicio.id">
                <div
                  class="content-text"
                  [innerHtml]="servicio.contenidoEn"
                ></div>
              </ng-container>
              <ng-container *ngIf="sid !== servicio.id">
                <div
                  class="content-text"
                  [innerHtml]="servicio.contenidoEs.substr(0, 300) + '...'"
                ></div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="lang === 'xx'">
              <ng-container *ngIf="sid === servicio.id">
                <div
                  class="content-text"
                  [innerHtml]="servicio.contenidoOtro"
                ></div>
              </ng-container>
              <ng-container *ngIf="sid !== servicio.id">
                <div
                  class="content-text"
                  [innerHtml]="servicio.contenidoOtro.substr(0, 300) + '...'"
                ></div>
              </ng-container>
            </ng-container>

            <button
              style="display: flex; width: 1rem; align-self: self-end"
              mat-flat-button
              (click)="hideAndShow(servicio.id)"
            >
              <mat-icon>{{
                sid === servicio.id ? "expand_less" : "expand_more"
              }}</mat-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </mat-accordion>
  </div>
  <div class="right">
    <img class="right-img" src="../../../../assets/grafica_der1.png" />
  </div>
</div>
