@media only screen and (min-width: 1440px) {
  .carrusel-caract {
    width: 68% !important;
  }

  .carrusel-potencial {
    width: 68% !important;
  }

  .carrusel-2-first-line-text {
    max-width: 23% !important;
    margin-right: 19% !important;
  }

  .carrusel-2-cards {
    min-height: 50vh !important;
  }

  .carrusel-part2-first-line {
    width: 45% !important;
  }
  .carrusel-2 {
    padding-bottom: 20vh !important;
  }
}
