@media only screen and (min-width: 300px) and (max-width: 1080px) {
  .carrusel-caract,
  .carrusel-potencial {
    width: 92% !important;
  }

  .car-container {
    margin-top: 0;

    .owl-carousel .owl-stage-outer {
      min-height: 180vh !important;
    }
  }

  .carrusel-1-cards {
    width: 90% !important;
  }

  .carrusel-1-chips {
    display: none !important;
  }

  .carrusel-2-first-line {
    width: 92%;
    justify-content: center;
    padding-top: 1 !important;
    margin-bottom: -10% !important;

    .carrusel-2-first-line-text {
      position: absolute !important;
      max-width: 100% !important;
      margin-right: 10% !important;
      margin-top: 10%;
      font-size: 1.6rem !important;
    }
  }

  .carrusel-part2-first-line {
    width: 90%;
    flex-direction: column !important;
    margin: 4%;

    .lorem {
      width: 100% !important;
    }
    .pagos {
      width: 100% !important;
      font-size: 30px !important;
    }
    .header {
      margin-bottom: 12px;
      margin-top: 0 !important;
    }
    .mat-typography p {
      margin: 0 !important;
    }
  }

  .carrusel-part2-second-line {
    margin-top: 8%;
  }

  .carrusel-part2-gruop {
    align-items: center !important;
  }

  .carrusel-part2-third-line {
    display: none !important;
    margin-top: 10% !important;
    justify-content: start !important;

    .small-card {
      width: 40% !important;
      height: 40% !important;
    }
  }

  .carrusel-2 {
    margin-top: 10% !important;
    padding-bottom: 0 !important;

    .carrusel-2-second-line {
      margin-top:101px
    }
  }

  .carrusel-2-third-line-text {
    height: auto !important;
    width: 100% !important;
    padding-bottom: 2vh;
  }

  .car-container-movil {
    display: flex !important;
    flex-direction: column;
    width: 100% !important;
    margin-top: 10% !important;
    margin-left: 5% !important;

    .middle-movil {
      width: 100% !important;
    }

    // .owl-carousel .owl-stage-outer {
    //   min-height: 50px;
    // }

    .small-card-container {
      display: flex;
      width: 100%;
      align-items: center;

      .small-card {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }

  }

  .second-rect {
    position: relative;
    width: 1412px !important;
    left: -330% !important;
  }

  .first-rect {
    position: relative;
    width: 1018px !important;
    left: -260% !important
  }

  .group-1, .example-spacer  {
    display: none;
  }

  .group-2 {
    /* width: 60%; */
    position: absolute;
    top: 18vh;
    height: 40%;
    left: -12vw;
}
}
