@media only screen and (min-width: 300px) and (max-width: 1280px) {
  .left-img, .right, .left {
    display: none;
  }
  .center {
    width: 100% !important;

    .center-header {
      width: auto !important;

      .header-title{
        line-height: 1;
      }
    }

    .center-movil {
      display: flex !important;
      width: 100%;
      justify-content: space-between;


      .terminos-rect {
        width: 35%;
        height: 80%;

        background: linear-gradient(
          90deg,
          #faa6a7 0%,
          #b5e7ff 67.02%,
          #ffdf95 98.96%
        );
        border-radius: 0px 50px 50px 0px;
      }

      .center-movil-right {
        width: 60%;

        img {
          width: 100%;
        }
      }
    }
  }
}
