<div style="width: 100%" class="gen-container">
  <div class="gen-contenido">
    <div class="gen-centro">
      <div class="gen-left-side-nos">
        <div class="gen-left-img"></div>
        <div class="gen-img-chip-izq"></div>
        <div class="gen-img-chip-pink"></div>
      </div>
      <div class="gen-middle-side">

        <div class="gen-we-text-no2">
          <div class="gen-we-text-container-con">
           	<div [innerHtml]="page.contenido"></div>
          </div>
        </div>
      </div>
      <div class="gen-right-side">
        <img class="gen-rigth-img2" src="../../../../assets/grafica_der1.png" />
        <div class="gen-img-chip-der"></div>
        <div class="gen-img-chip-menor"></div>
      </div>
    </div>
  </div>

  <div class="gen-fondo"></div>
</div>
