.gen-container {
  width: 100%;
  min-height: 100vh;

  .gen-fondo {
    display: flex;
    height: 150%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: 75vh;
    background: linear-gradient(
      90deg,
      rgba(250, 166, 167, 0.3) 0%,
      rgba(181, 231, 255, 0.3) 67.02%,
      rgba(255, 223, 149, 0.3) 98.96%
    );
  }

  .gen-contenido {
    display: flex;
    width: 100%;
    justify-content: center;

    .gen-centro {
      display: flex;
      width: 100%;

      .gen-left-side-nos {
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: flex-start;

        .gen-left-img {
          background: linear-gradient(
            90deg,
            #faa6a7 0%,
            #b5e7ff 67.02%,
            #ffdf95 98.96%
          );
          border-radius: 0 500px 500px 0;
          width: 14vw;
          height: 8vh;
          margin-top: 6vh;
        }

        .gen-img-chip-izq {
          width: 129px;
          height: 79px;
          z-index: 2;
          background-repeat: no-repeat !important;
          background: url(../../../../assets//grafica_izq.png);
        }

        .gen-img-chip-pink {
          width: 100%;
          margin-top: -5.5vh;
          height: 15vh;
          z-index: 1;
          background: rgba(250, 166, 167, 0.5);
          border-radius: 0 500px 500px 0;
        }
      }

      .gen-middle-side {
        display: flex;
        flex-direction: column;
        width: 60%;
        min-height: 100vh;

        .gen-contact-head2 {
          display: flex;
          flex-direction: row;
          height: 18vh;
          justify-content: center;
          align-items: center;
          margin-bottom: 8vh;

          .gen-center-content2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: #fff8e7;
            border-radius: 500px;
            width: 100%;
            height: 100%;
            // padding: 1rem 0;

            .gen-chip-img {
              width: 1rem;
            }

            .gen-contact-tittle {
              font-family: "Fredoka One" !important;
              font-style: normal !important;
              font-weight: 400 !important;
              font-size: 35px !important;
              line-height: 68px !important;
              margin: 0 0 0 2% !important;
              color: #353535 !important;
            }
          }
        }

        .gen-nos-movil {
          display: none;
        }

        .gen-we-text-no2 {
          display: flex;
          justify-content: center;
          background: #ffffff;
          padding-bottom: 25vh;
          height: 100%;

          .gen-we-text-container-con {
            width: 90%;
            
             h1 {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 32px;
                color: #353535;
              }

              h3 {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 32px;
                color: #353535;
              }

              figure {
                margin-left: 0;
                margin-right: 0;
              }

              * > img,
              img {
                width: 100%;
              }

              p {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 400;
                margin-bottom: 6%;
                font-size: 18px;
                line-height: 32px;
                color: #727272;
              }
            }
        }
      }

      .gen-right-side {
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: flex-end;

        .gen-rigth-img2 {
          width: 95%;
          // height: 83px;
          margin-top: 4vh;
          object-fit: cover;
          object-position: 20px;
        }

        .gen-img-chip-der {
          width: 100%;
          margin-top: 6vh;
          height: 15vh;

          background: linear-gradient(
            90deg,
            rgba(250, 166, 167, 0.5) 0%,
            rgba(181, 231, 255, 0.5) 67.02%,
            rgba(255, 223, 149, 0.5) 98.96%
          );
          border-radius: 0 500px 500px 0;
          transform: rotate(-180deg);
        }

        .gen-img-chip-menor {
          margin-top: 4%;
          width: 19vh;
          height: 30px;
          background: linear-gradient(
            90deg,
            #faa6a7 0%,
            #b5e7ff 67.02%,
            #ffdf95 98.96%
          );
          border-radius: 0 500px 500px 0;
          transform: rotate(-180deg);
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .gen-center-content2 {
    padding: 2rem 0 !important;
  }
  .gen-img-chip-pink {
    margin-top: -3.5vh !important;
  }
  .gen-contact-head2 {
    height: 12vh !important;
  }

  .gen-fondo {
    top: 55vh !important;
  }
}
