.cookie-container {
	display: flex;
	position: fixed;
	flex-direction: column;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f4a800;
	z-index: 9999;
	padding: 1.5%;
	// transition: 1s ease;

	.cookie-info {
		width: 50%;

		.cookie-text {
			display: flex;
			flex-direction: column;

			h2 {
				font-family: "Inter";
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 29px;
				color: #000000;
			}

			p {
				font-family: "Inter";
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 140%;
				color: #000000;
			}
		}
	}

	.cookie-actions {
		width: 50%;
  		display: flex;
    	flex-direction: column;
    	justify-content: flex-end;

		.boton-close {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
		}

		.boton-action {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			gap: 12px;

			.mat-button:not(.config-button) {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: flex-start;
				padding: 5px 26px;
				gap: 10px;
				background: #670f0f;
				border-radius: 50px;
				color: #fff;

				&:hover {
					background: #420101;
				}
			}

			.mat-button:first-child {
				font-family: "Inter";
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 19px;
				color: #670f0f;
				text-decoration: underline;
				align-self: center;
			}
		}
	}
}

.hide {
	display: none !important;
}

.footer-social-icon {
  color: #670f0f;
  font-size: 2em;
  margin-left: 0.5em;
}

.cookie-header{
	display: flex;
	justify-content: space-between;
}

.cookie-content{
	display: flex;
}

@media (max-width: 960px) {
	.cookie-container {
		display: flex;
		position: fixed;
		flex-direction: column !important;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #f4a800;
		z-index: 9999;
		padding: 1.5%;
	}

	.cookie-info{
		width: 100% !important;
	}

	.cookie-actions {
		width: 85% !important;
		display: flex !important;
		flex-direction: column !important;
		justify-content: flex-end !important;
	}

	.boton-action{
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		align-items: center !important;
		gap: 12px !important;
	}

	.cookie-content {
		display: flex;
		padding: 0 3%;
		flex-direction: column;
	}

	.cookie-title{
		margin: 6% 0 16px !important;
	}

	.cookie-header{
		display: flex;
		padding: 3% 0 0 3%;
		justify-content: space-between;	
	}
}