@import "./styles/documentos.large.scss";

.left-container {
  display: flex;
  margin-left: 2vh;
  gap: 2vh;
}
.info-container {
  display: flex;
}

.download {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8vh;
      height: 10vh;
      background: #f5f5f5;
      border-radius: 8px;
      border-width: 0;

      &:hover {
        background: #F5E7C7;
      }

      .button-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

.documentos-container {
  display: flex;
  width: 100%;

  .left {
    width: 20%;
    margin-top: 30vh;
    margin-left: 0;

    .servicios-rect {
      width: 40%;
      height: 70px;
      left: 0px;
      top: 401px;

      background: linear-gradient(
        90deg,
        #faa6a7 0%,
        #b5e7ff 67.02%,
        #ffdf95 98.96%
      );
      border-radius: 0px 50px 50px 0px;
    }

    .left-img {
      width: 68px;
    }
  }

  .center {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;

    .documentos-servicios {
      display: flex;
      align-items: flex-start;
      padding: 10px;
      gap: 1rem;
      width: 100%;
      margin-bottom: 2vh;
      margin-top: 0.5rem;

      .docs-header {
        width: 1rem;
      }

      .header-title {
        display: flex;
        gap: 1rem;

        p {
          font-family: "Fredoka One";
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          display: flex;
          align-items: center;
          color: #353535;
          margin-bottom: 0;
        }
      }

      .header-text {
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          color: #727272;
          line-height: 1.5rem;
        }
      }
    }
  }

  .right {
    width: 20%;

    .right-img {
      position: absolute;
      width: 194px;
      height: 83px;
      right: 0;
      margin-top: 18vh;
    }
  }
}

.card-docs-doc {
  display: flex;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  margin-bottom: 20px;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(217, 208, 184, 0.5);
  border-radius: 24px;

  .docs-header-1 {
    width: 9px;
    height: 17px;
  }
  .header-img {
    background-image: url("../../../../assets/img_header.png");
  }

  .docs-cuadro {
    min-width: 8vh;
    height: 8vh;

    background: #dadada;
    border-radius: 8px;
  }

  .content-center {
    display: flex;
    flex-direction: column;
    width: 94%;

    .title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      color: #eda301;
      white-space: nowrap;
    }
  }
}

.card-docs-doc:last-child {
  margin-bottom: 20vh;
}

.card-docs:first-child {
  margin-top: 1vh;
}

.content-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3f3726;
}

.center-movil {
  display: none;
}

@media (max-width: 700px) {
  .img,
  .right-img,
  .left,
  .right,
  .servicios-rect {
    display: none !important;
  }

  .left-img {
    top: 213px !important;
    left: -93px !important;
    position: absolute !important;
    background: linear-gradient(
      90deg,
      #faa6a7 0%,
      #b5e7ff 67.02%,
      #ffdf95 98.96%
    );
    border-radius: 0px 50px 50px 0px;
    width: 225px !important;
    height: 80px !important;
  }

  .rigth-container {
    display: flex;
    justify-content: flex-end;
    width: 340px !important;
    height: 83px !important;
    top: 218px !important;
    right: 0px !important;
    position: absolute !important;
  }

  .card-docs-container {
    width: 100%;
    margin-top: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card-docs-doc {
    display: flex;
    align-items: flex-start;
    padding: 17px;
    width: 84%;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 0px !important;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 0px 16px rgb(217 208 184 / 50%);
    border-radius: 24px;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .documentos-container .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12%;
  }

  .documentos-container .center .documentos-servicios {
    flex-direction: column;
    width: auto !important;
    padding: 0 !important;
    margin: 1rem !important;
    gap: 1rem !important;

    .header-title {
      gap: 1rem !important;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-docs-container {
    width: 100%;
    margin-top: 0 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card-docs-doc .docs-header-1 {
    width: 12px;
    margin-left: 5%;
    margin-bottom: 7%;
    height: 24px;
  }

  .center-movil {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;

    .terminos-rect {
      width: 35%;
      height: 80%;

      background: linear-gradient(
        90deg,
        #faa6a7 0%,
        #b5e7ff 67.02%,
        #ffdf95 98.96%
      );
      border-radius: 0px 50px 50px 0px;
    }

    .center-movil-right {
      width: 60%;

      img {
        width: 100%;
      }
    }
  }

  .title {
    white-space: unset !important;
  }
}
