<div class="documentos-container">
  <div class="left">
    <div class="servicios-rect"></div>
    <img class="left-img" src="../../../../assets/grafica_izq.png" />
  </div>

  <div class="center">
    <div class="documentos-servicios">
      <img class="docs-header" src="../../../../assets/img_header.png" />
      <ng-container *ngFor="let seccion of Secciones">
        <ng-container *ngIf="seccion.id == 15">
          <p *ngIf="lang === 'es'" class="header-title">
            {{ seccion.tituloEs }}
          </p>
          <p *ngIf="lang === 'en'" class="header-title">
            {{ seccion.tituloEn }}
          </p>
          <p *ngIf="lang === 'xx'" class="header-title">
            {{ seccion.tituloOtro }}
          </p>
          <p class="header-text" *ngIf="lang === 'es'">
            {{ seccion.contenidoEs }}
          </p>
          <p class="header-text" *ngIf="lang === 'en'">
            {{ seccion.contenidoEn }}
          </p>
          <p class="header-text" *ngIf="lang === 'xx'">
            {{ seccion.contenidoOtro }}
          </p>
        </ng-container>
      </ng-container>
    </div>

    <div *ngFor="let doc of documentos" class="card-docs">
      <img class="docs-header-1" src="../../../../assets/img_header.png" />
      <div class="docs-cuadro"></div>

      <div class="content-center">
        <p *ngIf="lang === 'es'" class="title">{{ doc.tituloEs }}</p>
        <p *ngIf="lang === 'en'" class="title">{{ doc.tituloEn }}</p>
        <p *ngIf="lang === 'xx'" class="title">{{ doc.tituloOtro }}</p>
        <p *ngIf="lang === 'es'" class="content-text">
          {{ doc.slugEs }}
        </p>
        <p *ngIf="lang === 'en'" class="content-text">
          {{ doc.slugEs }}
        </p>
        <p *ngIf="lang === 'xx'" class="content-text">
          {{ doc.slugEs }}
        </p>
      </div>

      <button *ngIf="lang === 'es'" (click)="downloadDoc(doc.documentoEs)" mat-button>
        <mat-icon>download</mat-icon>
      </button>

      <button *ngIf="lang === 'en'" (click)="downloadDoc(doc.documentoEn)"mat-button>
        <mat-icon>download</mat-icon>
      </button>

      <button *ngIf="lang === 'xx'" (click)="downloadDoc(doc.documentoOtro)"mat-button>
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </div>

  <div class="right">
    <img class="right-img" src="../../../../assets/grafica_der1.png" />
  </div>
</div>
