.left-container{
  display: flex;
  margin-left: 5%;
  gap: 5%;
}
.info-container{
  display: flex;
  
}

.documentos-container {
  display: flex;
  width: 100%;

  .left {
    width: 20%;
    margin-top: 30vh;
    margin-left: 0;

    .servicios-rect {
      width: 40%;
      height: 40px;
      left: 0px;
      top: 401px;

      background: linear-gradient(
        90deg,
        #faa6a7 0%,
        #b5e7ff 67.02%,
        #ffdf95 98.96%
      );
      border-radius: 0px 50px 50px 0px;
    }

    .left-img {
      width: 60px;
    }
  }

  .center {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;

    .documentos-servicios {
      display: flex;
      align-items: flex-start;
      padding: 10px;
      gap: 10px;
      width: 100%;
      margin-bottom: 2vh;

      .docs-header {
        width: 0.7rem;
      }

      .header-title {
        font-family: "Fredoka One";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        display: flex;
        align-items: center;
        color: #353535;
      }

      .header-text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        color: #727272;
      }
    }
  }

  .right {
    width: 20%;

    .right-img {
      position: absolute;
      width: 150px;
      right: 0;
      margin-top: 18vh;
    }
  }
}

.card-docs {
  display: flex;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  margin-bottom: 20px;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(217, 208, 184, 0.5);
  border-radius: 24px;

  .docs-header-1 {
    width: 9px;
    height: 17px;
  }
  .header-img {
    background-image: url("../../../../assets/img_header.png");
  }

  .docs-cuadro {
    width: 68px;
    height: 52px;

    background: #dadada;
    border-radius: 8px;
  }

  .content-center {
    display: flex;
    flex-direction: column;
    width: 94%;

    .title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      color: #eda301;
    }
  }
}

.card-docs:last-child {
  margin-bottom: 20vh;
}

.card-docs:first-child {
  margin-top: 100px;
}
