<div class="documentos-container">
  <div class="left">
    <div class="servicios-rect"></div>
    <img class="left-img" src="../../../../assets/grafica_izq.png" />
  </div>

  <div class="center">
    <div class="documentos-servicios">
      <img
        class="docs-header"
        src="../../../../assets/img_header.png"
      />
      <p class="header-title">Documentos</p>
      <p class="header-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>

    <div *ngFor="let doc of documentos" class="card-docs">

      <img
        class="docs-header-1"
        src="../../../../assets/img_header.png"
      />
      <div class="docs-cuadro"></div>

      <div class="content-center">
        <p class="title">{{doc.tituloEs}}</p>
        <p class="content-text">
          {{doc.slugEs}}
        </p>
      </div>

      <button mat-button>
        <mat-icon>download</mat-icon>
      </button>

    </div>
  </div>

  <div class="right">
    <img class="right-img" src="../../../../assets/grafica_der1.png" />
  </div>

</div>
