@media only screen and (min-width: 1440px) {
  .center-content2 {
    padding: 2rem 0 !important;
  }
  .img-chip-pink {
    margin-top: -3.5vh !important;
  }
  .contact-head2 {
    height: 12vh !important;
  }

  .fondo {
    top: 55vh !important;
  }
}
