<div class="servicios-container">
  <div class="card-caracteristicas">
    <img class="header-img" src="../../../../assets/img_header.png" />
    <div class="content">
      <img class="pago-img" src="../../../../assets/img_pagoonline.png" />
      <div class="content-center">
        <p class="title">Pago Online</p>
        <p class="content-text">
          Aprobado por el Banco Central de Cuba y reconocido por otros
          organismos del estado como el Ministerio del Turismo, Ministerio.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        </p>
      </div>
    </div>
    <div class="content-desplegado">      
    </div>
  </div>
</div>