<div style="width: 100%" class="con-container">
  <div class="con-contenido">
    <div class="con-centro">
      <div class="con-left-side">
        <div class="con-left-img"></div>
        <div class="con-img-chip-izq"></div>
        <div class="con-img-chip-pink"></div>
      </div>
      <div class="con-middle-side">
        <div class="con-contact-head2">
          <div class="con-center-content2">
            <img class="con-chip-img" src="../../../../assets/img_header.png" />
            <ng-container *ngFor="let seccion of secciones$ | async">
              <ng-container *ngIf="seccion.id == 16">
                <h1 *ngIf="lang === 'es'" class="con-contact-tittle">
                  {{ seccion.tituloEs }}
                </h1>
                <h1 *ngIf="lang === 'en'" class="con-contact-tittle">
                  {{ seccion.tituloEn }}
                </h1>
                <h1 *ngIf="lang === 'xx'" class="con-contact-tittle">
                  {{ seccion.tituloOtro }}
                </h1>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <ng-container *ngFor="let seccion of secciones$ | async">

          <ng-container *ngIf="seccion.id == 16">
            <div *ngIf="lang === 'es'" [innerHtml]="seccion.contenidoEs" class="con-we-p-initial"></div>

            <div *ngIf="lang === 'en'" [innerHtml]="seccion.contenidoEn" class="con-we-p-initial"></div>

            <div *ngIf="lang === 'xx'" [innerHtml]="seccion.contenidoOtro" class="con-we-p-initial"></div>
          </ng-container>
        </ng-container>

        <div class="con-nos-movil">
          <div class="con-left-img-movil"></div>
          <img
            class="con-rigth-img2-movil"
            src="../../../../assets/grafica_der1.png"
          />
        </div>
        <div class="con-we-text-no2">
          <form
            [formGroup]="contactoForm"
            (ngSubmit)="sendContacto()"
            class="con-we-text"
          >
            <div class="con-we-text-container">
              <input
                type="text"
                matInput
                formControlName="empresa"
                [placeholder]="lang === 'es' ? 'Empresa*' : 'Company*'"
                [class.con-we-input-error]="empresa?.invalid && (empresa?.dirty || empresa?.touched) && empresa?.errors?.['required']"
                class="con-we-input"
              />
              <div
                *ngIf="empresa?.invalid && (empresa?.dirty || empresa?.touched)"
                class="con-we-alert con-we-alert-danger"
              >
                <div *ngIf="empresa?.errors?.['required']">
                  <p *ngIf="lang === 'en'">This field cannot be empty.</p>
                  <p *ngIf="lang === 'es'">Este campo no pude estar vacío.</p>
                </div>
              </div>

              <input
                type="text"
                matInput
                formControlName="numeroCarnet"
                [placeholder]="lang === 'es' ? 'No Carnet*' : 'ID Number*'"
                [class.con-input-error]="numeroCarnet?.invalid && (numeroCarnet?.dirty || numeroCarnet?.touched) && (numeroCarnet?.errors?.['required'] || numeroCarnet?.errors?.['minlength'])"
                class="con-we-input"
              />

              <div
                *ngIf="
                  numeroCarnet?.invalid &&
                  (numeroCarnet?.dirty || numeroCarnet?.touched)
                "
                class="con-we-alert con-we-alert-danger"
              >
                <div *ngIf="numeroCarnet?.errors?.['required']">
                  <p *ngIf="lang === 'en'">This field cannot be empty.</p>
                  <p *ngIf="lang === 'es'">Este campo no pude estar vacío.</p>
                </div>
                <div *ngIf="numeroCarnet?.errors?.['minlength']">
                  <p *ngIf="lang === 'en'">Enter a valid id number</p>
                  <p *ngIf="lang === 'es'">Entre un número de carnet válido</p>
                </div>
                <div *ngIf="numeroCarnet?.errors?.['maxlength']">
                  <p *ngIf="lang === 'en'">Enter a valid id number</p>
                  <p *ngIf="lang === 'es'">Entre un número de carnet válido</p>
                </div>
              </div>

              <input
                type="text"
                matInput
                formControlName="paginaWeb"
                [placeholder]="lang === 'es' ? 'Pagina Web' : 'Web Site'"
                [class.con-input-error]="paginaWeb?.invalid && (paginaWeb?.dirty || paginaWeb?.touched) && paginaWeb?.errors?.['pattern']"
                class="con-we-input"
              />

              <div
                *ngIf="
                  paginaWeb?.invalid && (paginaWeb?.dirty || paginaWeb?.touched)
                "
                class="con-we-alert con-we-alert-danger"
              >
                <div *ngIf="paginaWeb?.errors?.['pattern']">
                  <p *ngIf="lang === 'en'">Enter a valid address</p>
                  <p *ngIf="lang === 'es'">Entre una dirección válida.</p>
                </div>
              </div>

              <input
                type="text"
                matInput
                formControlName="nombre"
                [placeholder]="lang === 'es' ? 'Nombre*' : 'Name'"
                [class.con-input-error]="nombre?.invalid && (nombre?.dirty || nombre?.touched) && nombre?.errors?.['required']"
                class="con-we-input"
              />

              <div
                *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)"
                class="con-we-alert con-we-alert-danger"
              >
                <div *ngIf="nombre?.errors?.['required']">
                  <p *ngIf="lang === 'en'">This field cannot be empty.</p>
                  <p *ngIf="lang === 'es'">Este campo no pude estar vacío.</p>
                </div>
              </div>

              <input
                type="text"
                matInput
                formControlName="apellidos"
                [placeholder]="lang === 'es' ? 'Apellidos*' : 'Surnames*'"
                [class.con-input-error]="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched) && apellidos?.errors?.['required']"
                class="con-we-input"
              />

              <div
                *ngIf="
                  apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)
                "
                class="con-we-alert con-we-alert-danger"
              >
                <div *ngIf="apellidos?.errors?.['required']">
                  <p *ngIf="lang === 'en'">This field cannot be empty.</p>
                  <p *ngIf="lang === 'es'">Este campo no pude estar vacío.</p>
                </div>
              </div>

              <input
                type="text"
                matInput
                formControlName="telefono"
                [placeholder]="lang === 'es' ? 'Teléfono*' : 'Phone*'"
                [class.con-input-error]="telefono?.invalid && (telefono?.dirty || telefono?.touched) && (telefono?.errors?.['required'] || telefono?.errors?.['minlength'])"
                class="con-we-input"
              />

              <div
                *ngIf="
                  telefono?.invalid && (telefono?.dirty || telefono?.touched)
                "
                class="con-we-alert con-we-alert-danger"
              >
                <div *ngIf="telefono?.errors?.['required']">
                  <p *ngIf="lang === 'en'">This field cannot be empty.</p>
                  <p *ngIf="lang === 'es'">Este campo no pude estar vacío.</p>
                </div>
                <div *ngIf="telefono?.errors?.['minlength']">
                  <p *ngIf="lang === 'en'">Enter a valid phone number</p>
                  <p *ngIf="lang === 'es'">
                    Entre un número de teléfono válido
                  </p>
                </div>
                <div *ngIf="telefono?.errors?.['maxlength']">
                  <p *ngIf="lang === 'en'">Enter a valid phone number</p>
                  <p *ngIf="lang === 'es'">
                    Entre un número de teléfono válido
                  </p>
                </div>
              </div>

              <input
                type="text"
                matInput
                formControlName="correo"
                [placeholder]="lang === 'es' ? 'Correo*' : 'Email*'"
                type="email"
                [class.con-input-error]="correo?.invalid && (correo?.dirty || correo?.touched) && correo?.errors?.['required']"
                class="con-we-input"
              />

              <div
                *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)"
                class="con-we-alert con-we-alert-danger"
              >
                <ng-container *ngIf="correo?.errors?.['required']">
                  <p *ngIf="lang === 'en'">This field cannot be empty.</p>
                  <p *ngIf="lang === 'es'">Este campo no pude estar vacío.</p>
                </ng-container>
              </div>
            </div>
            <div class="con-we-policy">
              <div class="con-we-term">
                <div class="con-we-check-container">
                  <input
                    formControlName="terminosCondiciones"
                    type="checkbox"
                    class="con-we-check"
                  />
                </div>
                <div class="con-we-p-container">
                  <p class="con-we-policy-p" *ngIf="lang === 'es'">
                    He leído y acepto la
                    <a href="#" class="con-we-link">Política de Privacidad</a>
                    y
                    <a href="#" class="con-we-link"
                      >Condiciones generales de BIPAY</a
                    >
                  </p>

                  <p class="con-we-policy-p" *ngIf="lang === 'en'">
                    I have read and accept the
                    <a href="#" class="con-we-link">Privacy Policy</a>
                    and
                    <a href="#" class="con-we-link">General Conditions of BIPAY</a>
                  </p>

                  <p class="con-we-policy-p" *ngIf="lang === 'xx'">
                    He leído y acepto la
                    <a href="#" class="con-we-link">Política de Privacidad</a>
                    y
                    <a href="#" class="con-we-link"
                      >Condiciones generales de BIPAY</a
                    >
                  </p>

                  <div
                    *ngIf="
                      terminosCondiciones?.invalid &&
                      (terminosCondiciones?.dirty ||
                        terminosCondiciones?.touched)
                    "
                    class="con-we-alert con-we-alert-danger"
                  >
                    <div *ngIf="terminosCondiciones?.errors?.['required']">
                      <p *ngIf="lang === 'en'">This field must be selected.</p>
                      <p *ngIf="lang === 'es'">
                        Este campo debe estar seleccionado.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="con-we-ask">
                <div class="con-we-check-container">
                  <input
                    formControlName="suscripcion"
                    type="checkbox"
                    class="con-we-check"
                  />
                </div>
                <div class="con-we-p-container">
                  <p class="con-we-policy-p">
                    {{
                      lang === "es"
                        ? "Acepto recibir información comercial, incluso por medios electrónicos."
                        : "I agree to receive commercial information, including by electronic means."
                    }}
                  </p>
                </div>
              </div>
              <div class="con-we-button-container">
                <button mat-button type="submit" class="con-we-form-button">
                  {{ lang === "es" ? "Enviar" : "Send" }}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="con-right-side">
        <img class="con-rigth-img2" src="../../../../assets/grafica_der1.png" />
        <div class="con-img-chip-der"></div>
        <div class="con-img-chip-menor"></div>
      </div>
    </div>
  </div>

  <div class="con-fondo"></div>
</div>