<div class="home-container">
  <div class="banner-container">
    <div class="left-side">
      <div class="white-space">
        <div class="img-header">
        </div>
      </div>
      <div class="chip-image"></div>
    </div>
    <div class="center-side">
      <h1 class="tittle-banner">
        Soluciones de Pago para StartUPs en Cuba
      </h1>
      <p class="p-banner">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
      <div class="line-banner"></div>
      <div class="buttons-group">
        <button class="button-left"> Saber Más</button>
        <button class="button-right">Inicia Ya</button>
      </div>

    </div>

    <div class="right-side">
      
    </div>
  </div>

  <div class="car-container">
    <div class="middle">
      <div class="carrusel-1">
        <mat-chip class="carrusel-1-chips"></mat-chip>
        <div class="carrusel-1-cards">
          <div>
            <img class="carrusel-1-cards-img" src="../../../../assets/img_header.png" />
            <p class="carrusel-1-cards-text-title">Pago Online</p>
            <p class="carrusel-1-cards-text">
              Aprobado por el Banco Central de Cuba y reconocido por otros
              organismos del estado como el Ministerio del Turismo, Ministerio...
            </p>
          </div>
          <div class="carrusel-1-cards-bottom-image">
            <img src="../../../../assets/img_pagoonline.png" />
          </div>
        </div>

        <div class="carrusel-1-cards">
          <div>
            <img class="carrusel-1-cards-img" src="../../../../assets/img_header.png" />
            <p class="carrusel-1-cards-text-title">Pago Online</p>
            <p class="carrusel-1-cards-text">
              Aprobado por el Banco Central de Cuba y reconocido por otros
              organismos del estado como el Ministerio del Turismo, Ministerio...
            </p>
          </div>
          <div class="carrusel-1-cards-bottom-image">
            <img src="../../../../assets/img_pagoonline.png" />
          </div>
        </div>

        <div class="carrusel-1-cards">
          <div>
            <img class="carrusel-1-cards-img" src="../../../../assets/img_header.png" />
            <p class="carrusel-1-cards-text-title">Pago Online</p>
            <p class="carrusel-1-cards-text">
              Aprobado por el Banco Central de Cuba y reconocido por otros
              organismos del estado como el Ministerio del Turismo, Ministerio...
            </p>
          </div>
          <div class="carrusel-1-cards-bottom-image">
            <img src="../../../../assets/img_pagoonline.png" />
          </div>
        </div>

        <mat-chip class="carrusel-1-chips"></mat-chip>
      </div>
    </div>
    <div class="up"></div>
    <div class="down"></div>
  </div>

  <div class="carrusel-part2">
    <div class="carrusel-part2-first-line">
      <p class="pagos">Varios métodos de pago</p>
      <img class="header" src="../../../../assets/img_header.png" />
      <p class="lorem">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco
      </p>
    </div>
    <div class="carrusel-part2-second-line">
      <div class="first-rect"></div>
      <div class="second-rect"></div>
    </div>
    <div class="carrusel-part2-third-line">
      <div class="small-card"></div>
      <div class="small-card"></div>
      <div class="small-card"></div>
      <div class="small-card"></div>
      <div class="small-card"></div>
      <div class="small-card"></div>
    </div>
  </div>

  <div class="carrusel-2">
    <div class="carrusel-2-first-line"></div>
    <div class="carrusel-2-second-line">
      <mat-chip class="carrusel-2-chips"></mat-chip>

      <div class="carrusel-2-cards">
        <div>
          <p class="carrusel-2-cards-text-title">
            Cobro por invitación de pago diferido
          </p>
          <p class="carrusel-2-cards-text">
            Permite enviar al cliente una invitación de pago por correo
            electrónico que contiene un link de acceso a la pasarela de pago
            para efectuar el pago de forma segura en su lugar de origen.
          </p>
          <div class="carrusel-2-cards-bottom-image">
            <img src="../../../../assets/img_pagoonline 1.png" />
          </div>
        </div>
      </div>

      <div class="carrusel-2-cards">
        <div>
          <p class="carrusel-2-cards-text-title">
            Cobro por invitación de pago diferido
          </p>
          <p class="carrusel-2-cards-text">
            Permite enviar al cliente una invitación de pago por correo
            electrónico que contiene un link de acceso a la pasarela de pago
            para efectuar el pago de forma segura en su lugar de origen.
          </p>
          <div class="carrusel-2-cards-bottom-image">
            <img src="../../../../assets/img_pagoonline.png" />
          </div>
        </div>
      </div>

      <div class="carrusel-2-cards">
        <div>
          <p class="carrusel-2-cards-text-title">
            Cobro por invitación de pago diferido
          </p>
          <p class="carrusel-2-cards-text">
            Permite enviar al cliente una invitación de pago por correo
            electrónico que contiene un link de acceso a la pasarela de pago
            para efectuar el pago de forma segura en su lugar de origen.
          </p>
          <div class="carrusel-2-cards-bottom-image">
            <img src="../../../../assets/img_pagoonline.png" />
          </div>
        </div>
      </div>

      <div class="carrusel-2-cards">
        <div>
          <p class="carrusel-2-cards-text-title">
            Cobro por invitación de pago diferido
          </p>
          <p class="carrusel-2-cards-text">
            Permite enviar al cliente una invitación de pago por correo
            electrónico que contiene un link de acceso a la pasarela de pago
            para efectuar el pago de forma segura en su lugar de origen.
          </p>
          <div class="carrusel-2-cards-bottom-image">
            <img src="../../../../assets/img_pagoonline.png" />
          </div>
        </div>
      </div>

      <mat-chip class="carrusel-2-chips"></mat-chip>
    </div>

    <div class="carrusel-2-third-line"></div>
  </div>

</div>

<!-- <owl-carousel
	[options]="mySlideOptions"
	[items]="mySlideImages"
	[carouselClasses]="['owl-theme', 'sliding']"
>
	<div class="item" *ngFor="let image of mySlideImages; let i = index">
		<div>
			<img src="{{ image }}" />
		</div>
	</div>
</owl-carousel> -->