<div class="conatainer">
  <div class="home">
    <ng-container *ngFor="let banner of Banners">
      <div class="home-left">
        <div class="home-pres">
          <img src="../../../../assets/img_header.png" class="pres-img" />
          <div class="home-pres-group">
            <h3 *ngIf="lang === 'es'" class="home-pres-title">
              {{ banner.tituloEs }}
            </h3>
            <h3 *ngIf="lang === 'en'" class="home-pres-title">
              {{ banner.tituloEn }}
            </h3>
            <h3 *ngIf="lang === 'xx'" class="home-pres-title">
              {{ banner.tituloOtro }}
            </h3>
            <!-- <img class="header" src="../../../../assets/img_header.png" /> -->
            <p class="home-pres-p" *ngIf="lang === 'es'">
              
              {{ banner.contenidoEs }}
            </p>
            <p class="home-pres-p" *ngIf="lang === 'en'">
              {{ banner.contenidoEn }}
            </p>
            <p class="home-pres-p" *ngIf="lang === 'xx'">
              {{ banner.contenidoEs }}
            </p>
            <div class="home-pres-rect"></div>
            <div class="home-pres-buttons">
              <mat-chip class="home-button-1">Saber Más</mat-chip>
              <mat-chip class="home-button-2">Inicia Ya</mat-chip>
            </div>
          </div>
        </div>
        <img src="../../../../assets/grafica_izq.png" class="home-izq" />
        <div class="home-rect"></div>
      </div>

      <div class="home-right">
        <img class="home-banner" src="../../../../assets/banner.png" alt="" />
        <img
          class="home-der"
          src="../../../../assets/grafica_der1.png"
          alt=""
        />
      </div>
    </ng-container>
  </div>

  <div class="car-container">
    <div class="middle">
      <div class="carrusel-1">
        <button
          mat-button
          (click)="owlCar.prev()"
          class="carrusel-1-chips carrusel-1-chips-left"
        >
          <svg
            width="50%"
            height="50%"
            viewBox="0 0 26 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.3 8H14.2L15.3 6.9C16.9 5.3 16.9 2.8 15.3 1.2C13.7 -0.4 11.2 -0.4 9.6 1.2L1.3 9.5C1.3 9.5 1.3 9.5 1.2 9.6C0.4 10.4 0 11.4 0 12.5C0 13.5 0.4 14.6 1.2 15.4C1.2 15.4 1.2 15.4 1.3 15.5L9 23.1C10.6 24.7 13.1 24.7 14.7 23.1C16.3 21.5 16.3 19 14.7 17.4L13.6 16.3H21.3C23.6 16.3 25.5 14.4 25.5 12.1C25.5 9.8 23.7 8 21.3 8Z"
              fill="white"
            />
          </svg>
        </button>

        <div class="carrusel-caract">
          <owl-carousel-o [options]="customOptions" #owlCar>
            <ng-container *ngFor="let caract of Caracteristicas">
              <ng-template carouselSlide [id]="caract.id">
                <div class="carrusel-1-cards">
                  <div>
                    <img
                      class="carrusel-1-cards-img"
                      src="../../../../assets/img_header.png"
                    />
                    <p
                      *ngIf="lang === 'es'"
                      class="carrusel-1-cards-text-title"
                    >
                      {{ caract.tituloEs }}
                    </p>
                    <p
                      *ngIf="lang === 'en'"
                      class="carrusel-1-cards-text-title"
                    >
                      {{ caract.tituloEn }}
                    </p>
                    <p
                      *ngIf="lang === 'xx'"
                      class="carrusel-1-cards-text-title"
                    >
                      {{ caract.tituloOtro }}
                    </p>

                    <p *ngIf="lang === 'es'" class="carrusel-1-cards-text">
                      {{ caract.contenidoEs }}
                    </p>

                    <p *ngIf="lang === 'en'" class="carrusel-1-cards-text">
                      {{ caract.contenidoEn }}
                    </p>

                    <p *ngIf="lang === 'xx'" class="carrusel-1-cards-text">
                      {{ caract.contenidoOtro }}
                    </p>
                  </div>
                  <div
                    *ngIf="lang === 'es'"
                    class="carrusel-1-cards-bottom-image"
                  >
                    <img src="{{ caract.imagenEs }}" />
                  </div>

                  <div
                    *ngIf="lang === 'en'"
                    class="carrusel-1-cards-bottom-image"
                  >
                    <img src="{{ caract.imagenEn }}" />
                  </div>

                  <div
                    *ngIf="lang === 'xx'"
                    class="carrusel-1-cards-bottom-image"
                  >
                    <img src="{{ caract.imagenOtro }}" />
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>

        <button
          mat-button
          (click)="owlCar.next()"
          class="carrusel-1-chips carrusel-1-chips-right"
        >
          <svg
            width="50%"
            height="50%"
            viewBox="0 0 26 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.2 16.3L11.3 16.3L10.2 17.4C8.6 19 8.6 21.5 10.2 23.1C11.8 24.7 14.3 24.7 15.9 23.1L24.2 14.8C24.2 14.8 24.2 14.8 24.3 14.7C25.1 13.9 25.5 12.9 25.5 11.8C25.5 10.8 25.1 9.70005 24.3 8.90005C24.3 8.90005 24.3 8.90005 24.2 8.80005L16.5 1.20005C14.9 -0.399953 12.4 -0.399953 10.8 1.20005C9.2 2.80005 9.2 5.30005 10.8 6.90005L11.9 8.00005L4.2 8.00005C1.9 8.00005 1.25889e-06 9.90005 1.05782e-06 12.2C8.56743e-07 14.5 1.8 16.3 4.2 16.3Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="up"></div>
    <div class="down"></div>
  </div>

  <div class="carrusel-part2">
    <div class="carrusel-part2-first-line">
      <ng-container *ngFor="let seccion of Secciones">
        <ng-container *ngIf="seccion.id == 18">
          <div class="carrusel-part2-gruop">
            <p *ngIf="lang === 'es'" class="pagos">{{ seccion.tituloEs }}</p>
            <p *ngIf="lang === 'en'" class="pagos">{{ seccion.tituloEn }}</p>
            <p *ngIf="lang === 'xx'" class="pagos">{{ seccion.tituloOtro }}</p>

            <img class="header" src="../../../../assets/img_header.png" />
          </div>

          <p class="lorem" *ngIf="lang === 'es'">
            {{ seccion.contenidoEs }}
          </p>
          <p class="lorem" *ngIf="lang === 'en'">
            {{ seccion.contenidoEs }}
          </p>
          <p class="lorem" *ngIf="lang === 'xx'">
            {{ seccion.contenidoEs }}
          </p>
        </ng-container>
      </ng-container>
    </div>

    <div class="carrusel-part2-second-line">
      <div class="first-rect"></div>
      <div class="second-rect"></div>
    </div>

    <div class="carrusel-part2-third-line">
      <ng-container *ngFor="let pago of Pagos">
        <img src="{{ pago.logo }}" class="small-card" />
      </ng-container>
    </div>
  </div>

  <div class="carrusel-2">
    <div class="carrusel-2-first-line">
      <img class="group-1" src="../../../../assets/Group.png" alt="Group 1" />
      <img class="group-2" src="../../../../assets/Group-2.png" alt="Group 2" />
      <span class="example-spacer"></span>
      <ng-container *ngFor="let seccion of Secciones">
        <p
          *ngIf="seccion.id === 19 && lang === 'es'"
          class="carrusel-2-first-line-text"
        >
          {{ seccion.tituloEs }}
        </p>
        <p
          *ngIf="seccion.id === 19 && lang === 'en'"
          class="carrusel-2-first-line-text"
        >
          {{ seccion.tituloEn }}
        </p>
        <p
          *ngIf="seccion.id === 19 && lang === 'otro'"
          class="carrusel-2-first-line-text"
        >
          {{ seccion.tituloOtro }}
        </p>
      </ng-container>
    </div>

    <div class="carrusel-2-second-line">
      <button
        (click)="owlPoten.prev()"
        mat-button
        class="carrusel-2-chips carrusel-2-chips-left"
      >
        <svg
          width="26"
          height="25"
          viewBox="0 0 26 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.3 8H14.2L15.3 6.9C16.9 5.3 16.9 2.8 15.3 1.2C13.7 -0.4 11.2 -0.4 9.6 1.2L1.3 9.5C1.3 9.5 1.3 9.5 1.2 9.6C0.4 10.4 0 11.4 0 12.5C0 13.5 0.4 14.6 1.2 15.4C1.2 15.4 1.2 15.4 1.3 15.5L9 23.1C10.6 24.7 13.1 24.7 14.7 23.1C16.3 21.5 16.3 19 14.7 17.4L13.6 16.3H21.3C23.6 16.3 25.5 14.4 25.5 12.1C25.5 9.8 23.7 8 21.3 8Z"
            fill="white"
          />
        </svg>
      </button>

      <owl-carousel-o [options]="customOptions" #owlPoten>
        <ng-container *ngFor="let ponte of Potencialidades">
          <div class="carrusel-2-cards">
            <div>
              <p class="carrusel-2-cards-text-title">
                {{ ponte.tituloEs }}
              </p>
              <p class="carrusel-2-cards-text">
                {{ ponte.contenidoEs }}
              </p>
              <div class="carrusel-2-cards-bottom-image">
                <img src="{{ ponte.imagenEs }}" />
              </div>
            </div>
          </div>
        </ng-container>
      </owl-carousel-o>
      <button
        mat-button
        (click)="owlPoten.next()"
        class="carrusel-2-chips carrusel-2-chips-right"
      >
        <svg
          width="26"
          height="25"
          viewBox="0 0 26 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.2 16.3L11.3 16.3L10.2 17.4C8.6 19 8.6 21.5 10.2 23.1C11.8 24.7 14.3 24.7 15.9 23.1L24.2 14.8C24.2 14.8 24.2 14.8 24.3 14.7C25.1 13.9 25.5 12.9 25.5 11.8C25.5 10.8 25.1 9.70005 24.3 8.90005C24.3 8.90005 24.3 8.90005 24.2 8.80005L16.5 1.20005C14.9 -0.399953 12.4 -0.399953 10.8 1.20005C9.2 2.80005 9.2 5.30005 10.8 6.90005L11.9 8.00005L4.2 8.00005C1.9 8.00005 1.25889e-06 9.90005 1.05782e-06 12.2C8.56743e-07 14.5 1.8 16.3 4.2 16.3Z"
            fill="white"
          />
        </svg>
      </button>
    </div>

    <div class="carrusel-2-third-line">
      <div class="curved-container">
        <ng-container *ngFor="let seccion of Secciones">
          <ng-template *ngIf="seccion.id === 20">
            <p *ngIf="lang === 'es'" class="carrusel-2-third-line-text">
              {{ seccion.tituloEs }}
            </p>
            <p *ngIf="lang === 'en'" class="carrusel-2-third-line-text">
              {{ seccion.tituloEn }}
            </p>
            <p *ngIf="lang === 'xx'" class="carrusel-2-third-line-text">
              {{ seccion.tituloOtro }}
            </p>
          </ng-template>
        </ng-container>
      </div>
      <img src="../../../../assets/curva1.png" class="bottom-line" />
    </div>
  </div>
</div>
