.container {
  width: 100%;
  overflow: hidden;
}

.wrapper-banners {
  height: 100vh;
  position: relative;
}

.img-header {
  width: 25px;
  height: 50px;
  background: url(../../../../assets/img_header.png);
}

.chip-image {
  height: 79px;
  width: 129px;
  background: url(../../../../assets/chips-banner.png);
}

.left-side {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 2%;
  height: 100%;
  width: 20%;
  align-items: flex-start;
}

.center-side {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  width: 35%;
  height: 100%;
}

.tittle-banner {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 68px;

  color: #353535;
}

.p-banner {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #727272;
}

.line-banner {
  margin-top: 5%;
  width: 50%;
  height: 2%;

  background: #f4a800;
  border-radius: 25px;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  height: 10%;
}

.button-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  margin-right: 3%;
  padding: 10px 30px;
  width: 158px;
  height: 64px;
  background: #f6d895;
  border-radius: 50px;
  border-style: none;
  gap: 10px;
  color: #ae0000;
}

.button-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  width: 158px;
  height: 64px;
  line-height: 19px;
  color: #ae0000;
  padding: 20px 40px;
  gap: 10px;
  border-style: none;
  background: #feb5b5;
  border-radius: 50px;
}

.right-side {
  width: 80%;
  height: 100%;
  background: url(../../../../assets/banner.png);
  background-repeat: no-repeat;
}

.carrusel-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  width: 100%;
}
.carrusel-caract {
  width: 84%;
  justify-content: center;
}

.carrusel-1-cards {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  gap: 4px;

  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(217, 208, 184, 0.5);
  border-radius: 24px;
}

.carrusel-1-cards-img {
  margin-left: 24px;
  margin-top: 24px;
  max-width: 1rem;
}

.carrusel-1-cards-bottom-image {
  display: flex;
  justify-content: center;
  width: 80%;
  align-self: center;

  img {
    width: 100%;
    // height: 161px;
    margin-bottom: -83.86px;
  }
}

.carrusel-1-cards-text {
  display: flex;
  justify-content: center;
  padding-left: 5%;
  p {
    width: 70%;
    height: 150px;
    margin-left: 64px;
    margin-right: 64px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 2rem;
    color: #3f3726;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

.carrusel-1-cards-text-title p {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 29px;
  margin-left: 64px;
  margin-right: 64px;
  color: #eda301;
}

.carrusel-1-chips {
  width: 4%;
  height: 2%;
  background: #f6d895;
  border-radius: 60px;
  align-self: center;
}

.car-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .up {
    width: 100%;
    height: 356px;
    left: 0px;
    background: #fcf3da;
  }

  .down {
    width: 100%;
    height: 343px;
    left: 0px;
    background: #fffaed;
  }

  .middle {
    width: 100%;
    align-self: center;
    margin-top: 80px;
    position: absolute;
  }
}

.carrusel-part2 {
  margin-top: 108px;

  .carrusel-part2-first-line {
    display: flex;
    gap: 31px;
    justify-content: center;

    .carrusel-part2-gruop {
      display: flex;
      gap: 31px;
      justify-content: center;
    }

    .pagos {
      //width: 351px;
      height: 72px;

      font-family: "Fredoka One";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 36px;
      text-align: right;
      text-transform: uppercase;

      color: #5d0303;
    }
    .header {
      width: 25px;
      height: 50px;
    }

    .lorem {
      //width: 416px;
      height: 112px;

      /* Texto */

      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */
    }
  }
  .carrusel-part2-second-line {
    .first-rect {
      width: 50%;
      height: 60px;
      left: 0px;
      background: rgba(255, 223, 149, 0.3);
      border-radius: 0px 50px 50px 0px;
    }
    .second-rect {
      width: 80%;
      height: 80px;
      left: 0px;
      margin-top: -30px;
      background: linear-gradient(
        90deg,
        rgba(250, 166, 167, 0.5) 0%,
        rgba(181, 231, 255, 0.5) 67.02%,
        rgba(255, 223, 149, 0.5) 98.96%
      );
      border-radius: 0px 50px 50px 0px;
    }
  }
  .carrusel-part2-third-line {
    display: flex;
    width: 91%;
    justify-content: center;
    gap: 2%;
    margin-top: 164px;

    .small-card {
      width: 10%;
    }
  }
}

.carrusel-2 {
  margin-top: 206px;
  background: linear-gradient(90deg, #fcded4 0%, #e6f2f2 51.87%, #fff1ce 100%);
  margin-bottom: 0px;
  max-width: 100%;

  .carrusel-2-first-line {
    display: flex;
    align-items: flex-start;
    padding-top: 97.5px;
    margin-left: 10%;
    margin-bottom: -25%;

    .example-spacer {
      flex: 1 1 auto;
    }

    .group-1 {
      width: 22%;
      margin-right: 2%;
    }
    .group-2 {
      width: 22%;
    }

    .carrusel-2-first-line-text {
      font-family: Fredoka One;
      font-size: 2rem;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: right;
      color: #5d0303;
      align-self: center;
      height: 72px;
      max-width: 30%;
      margin-bottom: 22%;
      margin-right: 13%;
    }
  }

  .carrusel-2-second-line {
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    width: 100%;
    left: 0px;

    .carrusel-potencial {
      width: 88%;
      justify-content: center;
    }

    .carrusel-2-cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2px;
      gap: 1px;
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(217, 208, 184, 0.5);
      border-radius: 24px;
      min-height: 70vh;

      .carrusel-2-cards-text-title {
        display: flex;
        margin: 0 2rem;
        width: 71%;
        justify-content: flex-start;

        p {
          font-family: "Fredoka One";
          font-style: normal;
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1.2rem;
          margin: 1rem 0px 1rem 0px;
          color: #eda301;
        }
      }

      .carrusel-2-cards-text {
        display: flex;
        flex-grow: 1;

        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 1em;
          line-height: 24px;
          margin: 0 2rem;
          color: #3f3726;
        }
      }

      .carrusel-2-cards-bottom-image {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        img {
          width: 12rem;
        }
      }
    }

    .carrusel-2-chips {
      width: 4%;
      height: 2%;
      background: #f6d895;
      border-radius: 60px;
      align-self: center;
    }
  }

  .carrusel-2-third-line {
    .curved-container {
      width: 100%;
      height: 356px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .carrusel-2-third-line-text {
        font-family: "Fredoka One";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #5d0303;
        height: 72px;
        width: 40%;
      }
    }

    .bottom-line {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .home {
    display: flex;
    width: 100%;
    height: 126vh;
    flex-direction: column;
  }

  .home-left {
    display: flex !important;
    width: 100% !important;
    flex-direction: column !important;
    margin-top: 30px !important;
  }

  .home-izq {
    display: none;
  }

  .home-pres {
    display: flex !important;
    align-self: flex-end !important;
    width: 100% !important;
    margin-bottom: 20vh !important;
  }

  .home-right {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    width: 100% !important;
  }

  .carrusel-caract {
    width: 63% !important;
  }

  .carrusel-potencial {
    width: 63% !important;
  }

  .carrusel-1-cards {
    width: 90% !important;
  }

  .carrusel-2-first-line {
    margin-bottom: -10% !important;
  }

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    min-width: 50px !important;
    line-height: 30px !important;
  }

  .carrusel-part2-first-line {
    flex-direction: column !important;
    margin-right: 4%;
  }
}
