/* You can add global styles to this file, and also import other style files */
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "~@fontsource/fredoka-one";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Fredoka One" !important;
  font-style: normal !important;
}

//Para todo los carruseles
.owl-carousel .owl-stage {
  width: 2500px !important;
}

.owl-stage, .owl-item {
  display: flex;
}

.mat-dialog-container {
    border-radius: 16px !important;
}
