/* You can add global styles to this file, and also import other style files */
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "~@fontsource/fredoka-one";

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Fredoka One" !important;
  font-style: normal !important;
}

.owl-carousel .owl-item {
    padding: 0.5em;
    min-height: 75vh;
}

.owl-carousel .owl-stage {
    width: 2500px !important;
}

.carrusel-potencial {
    .owl-carousel .owl-item {
        width: 10% !important;
    }
    .owl-carousel > :first-child  {
        margin-left: 5% !important;
    }
}

@media (max-width: 700px) {
    .carrusel-potencial {
    .owl-carousel .owl-item {
        width: 9% !important;
    }
    .owl-carousel > :first-child  {
        margin-left: 0% !important;
    }
}
}

// .carrusel-banner {
//   .owl-carousel .owl-item {
//     width: 100vw !important;
//     padding: 0;
//   }
//   .owl-carousel .owl-stage {
//     // width: 20000px !important;
//     // width: 100% !important;
//   }

// }
