<div class="footer" ngsReveal>
  <div class="footer-comercios" ngsReveal>
    <div class="logos-footer">
      <ng-container *ngFor="let asoc of asociados$ | async">
        <img
          class="img-footer"
          src="../../../../assets/logo1.png"
          alt="logo1"
        />
      </ng-container>
    </div>
  </div>

  <div class="footer-contactos" ngsReveal>
    <img src="../../../../assets/curva2.png" class="bottom-line" />
    <div class="footer-contactos-container">
      <img
        class="footer-contactos-left"
        src="../../../../assets/grafica-contactos_izq.png"
        alt="lines"
      />

      <div class="footer-contactos-center">
        <ng-container *ngFor="let seccion of secciones$ | async">
          <ng-container *ngIf="seccion.id == 21">
            <p *ngIf="lang === 'es'" class="footer-contactos-title">
              {{ seccion.tituloEs }}
            </p>
            <p *ngIf="lang === 'en'" class="footer-contactos-title">
              {{ seccion.tituloEn }}
            </p>
            <p *ngIf="lang === 'xx'" class="footer-contactos-title">
              {{ seccion.tituloOtro }}
            </p>

            <p *ngIf="lang === 'es'" class="footer-contactos-text">
              {{ seccion.contenidoEs }}
            </p>
            <p *ngIf="lang === 'en'" class="footer-contactos-text">
              {{ seccion.contenidoEs }}
            </p>
            <p *ngIf="lang === 'xx'" class="footer-contactos-text">
              {{ seccion.contenidoEs }}
            </p>
            <button class="footer-contactos-boton" mat-button>Inicia ya</button>
          </ng-container>
        </ng-container>
      </div>

      <img
        class="footer-contactos-right"
        src="../../../../assets/grafica-contactos.png"
        alt="lines"
      />
    </div>
  </div>

  <div class="footer-last" ngsReveal>
    <mat-chip>
      <mat-icon>phone</mat-icon>
      <p>Llamenos</p>
      <img src="../assets/img_header.png" />
      <p>(53) 12345678</p>
    </mat-chip>

    <div class="footer-container" ngsReveal>
      <div class="footer-last-description">
        <img src="../assets/logo-footer.png" />

        <ng-container *ngFor="let seccion of secciones$ | async">
          <ng-container *ngIf="seccion.id == 22">
            <div
              *ngIf="lang === 'es'"
              class="footer-description"
              [innerHTML]="seccion.contenidoEs"
            ></div>
            <div
              *ngIf="lang === 'en'"
              class="footer-description"
              [innerHTML]="seccion.contenidoEn"
            ></div>
            <div
              *ngIf="lang === 'xx'"
              class="footer-description"
              [innerHTML]="seccion.contenidoOtro"
            ></div>
          </ng-container>
        </ng-container>
      </div>

      <div class="footer-last-documents">
        <div class="footer-docs">
          <img src="../assets/img_header.png" />
          <p class="footer-title">Documentos</p>
        </div>
        <div class="footer-docs-group">
          <p>Documento bastante largo que está en dos líneas</p>
          <p>Documento 2</p>
          <p>Documento 3</p>
          <p>Documento 4</p>
        </div>
      </div>

      <div class="footer-last-documents">
        <div class="footer-docs">
          <img src="../assets/img_header.png" />
          <p class="footer-title">Documentos</p>
        </div>
        <div class="footer-docs-group">
          <p>Documento bastante largo que está en dos líneas</p>
          <p>Documento 2</p>
          <p>Documento 3</p>
          <p>Documento 4</p>
        </div>
      </div>

      <div class="footer-last-documents">
        <div class="footer-docs">
          <img src="../assets/img_header.png" />
          <p class="footer-title">Documentos</p>
        </div>
        <div class="footer-docs-group">
          <p>Documento bastante largo que está en dos líneas</p>
          <p>Documento 2</p>
          <p>Documento 3</p>
          <p>Documento 4</p>
        </div>
      </div>
    </div>

    <div class="footer-last-group" ngsReveal>
      <div class="footer-last-info">
        <div class="footer-info">
          <mat-icon>location</mat-icon>
          <p>Dirección de la compañía, País.</p>
        </div>

        <div class="footer-info">
          <mat-icon>room</mat-icon>
          <p>infoalybio@server.com</p>
        </div>

        <div class="footer-info">
          <mat-icon>phone</mat-icon>
          <p>(800) 1234567891</p>
        </div>
      </div>
      <div class="footer-social">
        <ng-container *ngFor="let social of sociales$ | async">
          <ng-container *ngIf="social.nombre === 'Facebook'">
            <a [href]="social.enlace" target="_blank"
              ><fa-icon class="footer-social-icon" [icon]="faFacebook"></fa-icon
            ></a>
          </ng-container>

          <ng-container *ngIf="social.nombre === 'G+'">
            <a [href]="social.enlace" target="_blank">
              <fa-icon
                class="footer-social-icon"
                [icon]="faGooglePlus"
              ></fa-icon>
            </a>
          </ng-container>

          <ng-container *ngIf="social.nombre == 'Instagram'">
            <a [href]="social.enlace" target="_blank"
              ><fa-icon
                class="footer-social-icon"
                [icon]="faInstagram"
              ></fa-icon
            ></a>
          </ng-container>

          <ng-container *ngIf="social.nombre == 'Youtube'">
            <a [href]="social.enlace" target="_blank"
              ><fa-icon class="footer-social-icon" [icon]="faYoutube"></fa-icon
            ></a>
          </ng-container>

          <ng-container *ngIf="social.nombre == 'Twitter'">
            <a [href]="social.enlace" target="_blank"
              ><fa-icon class="footer-social-icon" [icon]="faTwitter"></fa-icon
            ></a>
          </ng-container>

          <ng-container *ngIf="social.nombre == 'TikTok'">
            <a [href]="social.enlace" target="_blank"
              ><fa-icon class="footer-social-icon" [icon]="faTiktok"></fa-icon
            ></a>
          </ng-container>

          <ng-container *ngIf="social.nombre == 'Linkedin'">
            <a [href]="social.enlace" target="_blank"
              ><fa-icon class="footer-social-icon" [icon]="faLinkedin"></fa-icon
            ></a>
          </ng-container>

          <ng-container *ngIf="social.nombre == 'Pinterest'">
            <a [href]="social.enlace" target="_blank"
              ><fa-icon
                class="footer-social-icon"
                [icon]="faPinterest"
              ></fa-icon
            ></a>
          </ng-container>

          <ng-container *ngIf="social.nombre == 'Messenger'">
            <a [href]="social.enlace" target="_blank">
              <fa-icon
                class="footer-social-icon"
                [icon]="faFacebookMessenger"
              ></fa-icon
            ></a>
          </ng-container>

          <ng-container *ngIf="social.nombre == 'Snapchat'">
            <a [href]="social.enlace" target="_blank"
              ><fa-icon class="footer-social-icon" [icon]="faSnapchat"></fa-icon
            ></a>
          </ng-container>

          <ng-container *ngIf="social.nombre == 'Reddit'">
            <a [href]="social.enlace" target="_blank"
              ><fa-icon class="footer-social-icon" [icon]="faReddit"></fa-icon
            ></a>
          </ng-container>
        </ng-container>
      </div>
      <mat-divider></mat-divider>
      <div class="footer-last-legal">
        <p>Copyrights 2021 por Bipay. Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</div>
