<div class="footer" ngsReveal>
  <div class="footer-comercios">
    <div class="logos-footer">
      <!-- <ng-container *ngFor="let asoc of asoc">
        <img
          src="{{ asoc.logo }}"
          alt="{{ asoc.tituloEs }}"
          class="img-footer"
        />
      </ng-container> -->
      <ng-container *ngFor="let aso of asociados$ | async">
        <div class="asociado-img">
          <img src="{{ aso.logo }}" alt="{{ aso.tituloEs }}" class="img-footer" />
        </div>
      </ng-container>
    </div>
  </div>

  <div class="footer-contactos">
    <img src="../../../../assets/curva2.png" class="bottom-line" />
    <div class="footer-contactos-container">
      <img class="footer-contactos-left" src="../../../../assets/grafica-contactos_izq.png" alt="lines" />

      <div class="footer-contactos-center">
        <ng-container *ngFor="let seccion of secciones$ | async">
          <ng-container *ngIf="seccion.id == 21">
            <p *ngIf="lang === 'es'" class="footer-contactos-title">
              {{ seccion.tituloEs }}
            </p>
            <p *ngIf="lang === 'en'" class="footer-contactos-title">
              {{ seccion.tituloEn }}
            </p>
            <p *ngIf="lang === 'xx'" class="footer-contactos-title">
              {{ seccion.tituloOtro }}
            </p>

            <div *ngIf="lang === 'es'" class="footer-contactos-text" [innerHTML]="seccion.contenidoEs"></div>
            <div *ngIf="lang === 'en'" class="footer-contactos-text" [innerHTML]="seccion.contenidoEs"></div>
            <div *ngIf="lang === 'xx'" class="footer-contactos-text" [innerHTML]="seccion.contenidoEs"></div>
            <div class="footer-contactos-boton">
              <a mat-button routerLink="contactos">Inicia ya</a>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <img class="footer-contactos-right" src="../../../../assets/grafica-contactos.png" alt="lines" />
    </div>
  </div>

  <div class="footer-last">
    <div class="footer-call" mat-button href="#">
      <div class="footer-call-tittle">
        <mat-icon class="icon">phone</mat-icon>
        <p class="call-p1">Llamenos</p>
        <img src="../assets/img_header.png" />
      </div>
      <div class="footer-call-number">
        <ng-container *ngFor="let contacto of contactos$ | async">
          <p class="call-p2">{{ contacto.telefono }}</p>
        </ng-container>
      </div>
    </div>

    <div class="footer-container" ngsReveal>
      <div class="footer-last-description">
        <img src="../assets/logo-footer.png" />

        <ng-container *ngFor="let seccion of secciones$ | async">
          <ng-container *ngIf="seccion.id == 22">
            <div *ngIf="lang === 'es'" class="footer-description" [innerHTML]="seccion.contenidoEs"></div>
            <div *ngIf="lang === 'en'" class="footer-description" [innerHTML]="seccion.contenidoEn"></div>
            <div *ngIf="lang === 'xx'" class="footer-description" [innerHTML]="seccion.contenidoOtro"></div>
          </ng-container>
        </ng-container>

        <div class="footer-last-info">
          <ng-container *ngFor="let contacto of contactos$ | async">
            <div class="footer-info">
              <fa-icon class="footer-info-icon" [icon]="faLocationDot"></fa-icon>
              <p>{{ contacto.direccion }}</p>
            </div>

            <div class="footer-info">
              <fa-icon class="footer-info-icon" [icon]="faEnvelope"></fa-icon>
              <p>{{ contacto.correo }}</p>
            </div>

            <div class="footer-info">
              <fa-icon class="footer-info-icon" [icon]="faPhone"></fa-icon>
              <p>{{ contacto.telefono }}</p>
            </div>
          </ng-container>
        </div>
      </div>

      <ng-container *ngFor="let categoria of categorias$ | async">
        <div class="footer-last-documents">
          <div class="footer-docs">
            <img src="../assets/img_header.png" />
            <p *ngIf="lang === 'es'" class="footer-title">{{ categoria.tituloEs }}</p>
            <p *ngIf="lang === 'en'" class="footer-title">{{ categoria.tituloEn }}</p>
            <p *ngIf="lang === 'xx'" class="footer-title">{{ categoria.tituloOtro }}</p>
          </div>
          <ng-container *ngFor="let enlace of enlaces$ | async">
            <div *ngIf="categoria.id === enlace.categoriaEnlaceEs!.id" class="footer-docs-group">
              <a class="enlace" *ngIf="lang === 'es'" href="{{ enlace.enlaceEs }}">{{ enlace.tituloEs }}</a>
              <a class="enlace" *ngIf="lang === 'en'" href="{{ enlace.enlaceEn }}">{{ enlace.tituloEn }}</a>
              <a class="enlace" *ngIf="lang === 'xx'" href="{{ enlace.enlaceOtro }}">{{ enlace.tituloOtro }}</a>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div class="footer-last-group" ngsReveal>
      <div class="footer-social">
        <bipay-sociales></bipay-sociales>
      </div>
      <mat-divider></mat-divider>
      <div class="footer-last-legal">
        <p>Copyrights 2021 por Bipay. Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</div>