@media only screen and (min-width: 300px) and (max-width: 1080px) {
  .footer .footer-last mat-chip {
    width: 85%;
  }

  .footer .footer-contactos .bottom-line {
    width: 100%;
    height: 8px !important;
  }

  .footer-container {
    flex-direction: column;
    margin-left: 4% !important;
    margin-right: 4% !important;

    .footer-des-cat {
      flex-direction: column;
    }
  }

  .footer-last-group {
    margin-left: 3vh !important;
    margin-right: 3vh !important;
  }

  .footer-last {
    height: 100% !important;
  }

  .footer-contactos-center {
    width: 100% !important;
  }

  .footer-last-description {
    width: 100% !important;
    margin-bottom: 2rem;

    .footer-last-info-movil {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .footer-info {
        display: flex;

        .footer-info-icon {
          color: white;
          font-size: 1.6em;
          padding-right: 0.6em;
        }

        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }
    }
  }

  .footer-contactos-left,
  .footer-contactos-right {
    display: none !important;
  }

  .footer-contactos-boton a {
    width: auto !important;
    padding: 4% 10% !important;
    border-radius: 65px !important;
  }

  .footer-contactos-text p {
    width: 80% !important;
    height: auto !important;
  }

  .footer-last .footer-call {
    flex-wrap: wrap;
    width: 80% !important;
    gap: 0px !important;
    // height: auto !important;
    // margin-top: -4em !important;

    p {
      margin: 0 0.8rem !important;
    }
  }

  .footer-contact {
    flex-direction: column !important ;
  }

  .footer-social {
    display: flex;
    justify-content: center !important;
    margin-top: 3rem !important;

    .footer-last-info {
      display: none !important;
    }
  }

  .footer-last-documents {
    margin-bottom: 2rem;
  }

  .logos-footer {
    gap: 5vh !important;
    align-content: space-around;

    .asociado-img {
      display: flex;
      width: 30%;
      justify-content: center;
    }
  }

  .footer-comercios-container {
    margin-top: 0 !important;
  }
  .footer-call-tittle {
    gap: 0 !important;
  }

  .bottom-line {
    margin-top: 0 !important;
  }

  .curved-container .carrusel-2-third-line-text-footer {
    font-size: 1.6rem !important;
    width: 80% !important;
  }
}

// @media only screen and (max-width: 450px) {
//   .footer-last .footer-call {
//     margin-top: -4em !important;
//   }
// }
