@media only screen and (min-width: 1440px) {
  .carrusel-2-third-line {
    margin-bottom: 1vh;
  }
  .footer-comercios-container {
    margin-top: -25vh !important;
  }
  .footer {
    margin-top: 2rem !important;
    width: 100%;
  }
}
